[2015-09-21 05:41] chrislintott commented on #1359
It feels like this would help with Stargazing-scale projects where the login traffic has a profile very different from that of classification.

[2015-09-21 09:21] camallen commented on #1374
closed by #1376

[2015-09-21 09:21] #1374 closed

[2015-09-21 09:22] camallen commented on #1234
closing this - should be able to be handled client side.

[2015-09-21 09:22] #1234 closed

[2015-09-21 15:24] aliburchard commented on #1349
@edpaget thanks!! Okay, so they've asked for 250 logins (HHMI001 thru HHMI250). If all the passwords can be the same, they've requested a specific password (I'll pass it through slack). Could we get this done by Thursday Sept 24 so they can mail out the addresses on Friday?

[2015-09-21 16:07] marten opened #1379 "Missing unique constraints on user_project_preferences"
Some users have multiple user_project_preferences:

[code]

We should add a unique constraint on (user_id, project_id).

[2015-09-21 16:43] edpaget commented on #1349
Yes slack me the password I'll create them later today.

[2015-09-23 09:42] camallen commented on #1349
@aliburchard did this get sorted?

[2015-09-23 11:28] edpaget opened #1383 "Subject Create route is super Slow"
Ping @saschaishikawa for more information, but he was trying to create subjects for the whaling project and brought down to the API each time.

[2015-09-23 11:28] edpaget commented on #1349
Yes, but the more the issue of of being able to create users more generally.

[2015-09-23 13:26] camallen opened #1384 "reset workflow activation on subject set links"
when adding new data re-activate the workflow

[2015-09-23 13:50] camallen commented on #1383
@rogerhutchings did this on staging firing off promises as fast as he could and it just swamped the server. the solution is to rate limit per user req's server / client side.

[2015-09-23 17:20] edpaget commented on #1383
We did to one every .5second and it still swamped. Does it need to be slower?

[2015-09-23 20:50] marten commented on #1383
We really want a batch api. But some profiling to see if there's any
hotspots would also be good to do.
On Sep 23, 2015 19:20, "Edward Paget" <notifications@github.com> wrote:

[2015-09-23 20:51] edpaget commented on #1383
It should already work with batch requests.

[2015-09-24 00:21] chrissnyder commented on #1383
I think there's a couple things wrong with this:

1. The fact that there exists a condition in which a user of the API can effectively DDOS us. This is more than a little terrifying. And we've already done it twice to ourselves should indicate that others are likely to cause the same problem.

2. Depending upon clients to rate-limit themselves is asking for trouble, unless we limit the subject cre

[2015-09-24 10:08] camallen opened #1385 "Add per project experiemental task features"
https://github.com/zooniverse/Panoptes-Front-End/issues/1622

Allow admin users to set access to experimental tools for PFE. Add an array of tool names to each project and restrict to admin access.

[2015-09-24 15:22] camallen commented on #1383
Ok I think i've found the culprit on this, since #1357 moved to check limits via indexed counts on each subject upload (to avoid counter update contention) it's a problem when using the a user with large upload counts (e.g. zooniverse user) vs normal users. It should only be a problem for when uploading as a the zooniverse user till we get a fix in.

I think it's best to revert this change and fig

[2015-09-24 16:28] chrissnyder commented on #1383
Use a Redis counter, rather than scanning the table? Maybe have a worker that ensures the count is correct occasionally?

[2015-09-25 11:40] camallen opened #1386 "priority workflow ordering not being respected"
Subject queue updates are sorting the sms id array in asc order and losing any priority ordering from the input.

We should respect this workflow's priority ordering when when retrieving from the queue (ignoring any internal queue order from PG array ops) [here](https://github.com/zooniverse/Panoptes/blob/f4c3e7eb4d4cea32f2b0397198b5d940ed5cdb96/lib/subject_selector.rb#L27) and when random we shou

[2015-09-28 17:21] brian-c opened #1391 "Add a workflow "overall_tasks" field"
We need a field for out-of-normal-flow workflow tasks (I've been calling them `overall_tasks`, I'm not crazy about the name) like Snapshot Serengeti's "Fire/Nothing here" checkboxes.

It's just an array of tasks. Tasks are formatted the same as the `tasks` field values.

Example here: https://github.com/zooniverse/Panoptes-Front-End/blob/d6c371535a894d47240f724d85e9474d3f1a40a4/app/classifier/mock

[2015-09-28 17:23] edpaget commented on #1391
Why can't this just be a task with an answer that ends the workflow?

[2015-09-28 17:44] brian-c commented on #1391
I think this is mostly to reproduce the Serengeti interface as closely as possible.

[2015-09-29 09:17] camallen commented on #1383
Actually - looks like this is the counter cache on set_member_subject -> subject_set. Looks like we should reopen #1347 or come up with our own redis / delayed counter solution.

![image](https://cloud.githubusercontent.com/assets/295329/10159991/03259656-6693-11e5-989b-09d422cb569f.png)

[2015-09-29 09:24] marten commented on #1383
Just a single call per transaction though? Why would there be so much contention/deadlocking around a subject set row?

[2015-09-29 09:24] camallen commented on #1383
concurrent updates to the same set.

[2015-09-29 09:28] marten commented on #1383
Yes, but why are there many concurrent updates? There's only a few people that can update any given set. Are we DOSing ourselves by sending all images as individual requests?

[2015-09-29 09:33] camallen commented on #1383
We don't currently rate limit so if someone writes their own script to upload data and hammers the create subjects end point for the same subject set then this contention occurs. This was the reason why i removed the user -> subjects counter too.

For reference, the [PFE code](https://github.com/zooniverse/Panoptes-Front-End/blob/eec606e276bce3897b4bfd17137e0d9f7df4bc23/app/partials/subject-upload

[2015-09-29 10:07] camallen commented on #1383
actually - i'm not sure why the subject set is updating. The counter cache is only for the set_member_subject..which should not be getting called on this end point.

[2015-09-29 13:34] aliburchard commented on #1391
how about "persistent task" for a name? (Since it persists across all other tasks within a workflow?)

I don't have a good use case for this task outside of a snapshot serengeti style filtering task though.

[2015-09-29 14:16] edpaget commented on #1391
I'm just confused why the survey task can't just auto-generate a button that behaves this way, without needing back-end support? Or have a blank option in the list survey list?

[2015-09-29 14:40] edpaget commented on #1383
The script the scribe people have been using adds the subjects to the subject set by doing:

[code]

[2015-09-29 14:43] edpaget commented on #1383
<img width="1489" alt="screen shot 2015-09-29 at 9 42 21 am" src="https://cloud.githubusercontent.com/assets/108177/10167502/6bde7118-668e-11e5-9f20-896a4ea09e03.png">

From when this crashed us last week. Are we missing an index or something?

[2015-09-29 14:50] camallen commented on #1383
Good one, I missed the `subject -> subject_set` relation that would create the sms. Don't think we're missing an index this is just where these counters don't perform well without atomic updates.

[2015-09-29 14:51] marten commented on #1383
[code]

[2015-09-29 14:53] camallen commented on #1383
@marten suggested removing the counter and use rescheduling rate limited workers to update the subject set counters on each subject create.

For reference for the scribe people, http://docs.panoptes.apiary.io/#reference/subject-set/subjectset this is the optimized route to bulk import subjects into a subject set.

[2015-09-29 14:55] edpaget commented on #1383
That sounds fine to me.

[2015-09-29 14:55] edpaget commented on #1383
You working on it or do you want to assign this to me?

[2015-09-29 20:00] DarrenMcRoy opened #1394 "Some users say Ouroboros projects' classification counts aren't updating"
From one user:

["None of my new non-panoptes classifications are being added to my stats or ribbon, but GZ Bars is being correctly incremented. It doesn't matter how many additional classifications I do, the total is always static."](https://www.zooniverse.org/talk/14/515/?comment=17911)

From another:

["Non of my recent classifications from GZ or SpaceWarps are showing up in my stats/ribbon."](

[2015-09-29 21:50] aliburchard opened #1395 "can create duplicate projects"
I have a project called eMammal. I created a second project called emammal with no errors. When I "view" emammal, it sends me to the url for eMammal, since the urls are not case sensitive. However, the project builder view for emammal looks like a fresh project - I suspect that changes made to the duplicate just won't save, but don't want to accidentally break the existing project.

I *also* renam

[2015-09-30 09:24] AdrianEvans opened #1396 "robots and people - what counts as a classification?"
I'm seeing that there are some users that might be robots or just unaware of how the process is supposed to work. Here is an example - one user has clicked on nothing and I have a classification entry of "null" for 12992 subjects as a result of that one individual. Do these count towards retirement? Yesterday this individual "classified" over 2000 subjects.

Should something be added to stop a use

[2015-09-30 12:36] #1395 closed

[2015-09-30 22:41] mschwamb opened #1398 "Way to have classification counts and user participation counts to start when the project launches and not during beta and building"
I'm building a new project and we're adding in images to check the background and play with the subject presentation (since it's a combination of several images we're uploading as one). Currently when we click we can see the classification counts going up on the project front page, but this isn't going to be reflective of the actual project stats when we launch. On custom projects I've been involv

[2015-10-01 09:35] camallen commented on #1398
I think https://github.com/zooniverse/Panoptes-Front-End/pull/1673 will solve this issue in the future. We currently count all classifications, pretty sure these counts will disappear as noise after launching.

[2015-10-01 12:35] mschwamb commented on #1398
It won't fix the whole issue because it won't record the annotations. We're also testing our design tree and subject design with the team and looking at the data afterwards. We'll be iterating a bunch of times arguing over image contrast and scaling between the different components. I agree eventually it will be noise, but when you add in the beta test it will take some time to become noise.

Feel

[2015-10-01 12:39] camallen commented on #1398
Is it really just that you are thinking about old projects launching from scratch where we hid the beta classification work / counts and "started" with a clean slate (after lots of internal iteration)?

Happy to leave this open as a discussion. In my opinion Panoptes doesn't use this paradigm as a project evolves over time and hopefully reaches launch status. Where is the distinction to what class

[2015-10-01 12:51] mschwamb commented on #1398
well, yes, but it's not really an old way. I'm finding that bit stayed the same with the project builder, it's just that there's no telecon with the developer it's happening in the meeting with the science team and one of us is opening the project builder website.

 At least for my two project builder projects Terrains and the one  I'm currently building that has been my experience.  The research

[2015-10-01 14:12] #1162 closed

[2015-10-01 14:58] brian-c opened #1399 "Create a tutorial_steps resource"
Projects are getting simple Chimp&See-style popup tutorials.

We'll need a tutorial_steps resource, each with its own `media` and a `content`.

Media will live in the project's attached media, so maybe that should be a link?

Content'll just be Markdown.

They should be reorderable. Do linked resources maintain their order when it changes? Otherwise we could have an explicit `index` field or somet

[2015-10-01 16:29] brian-c opened #1401 "project_preferences tutorial_completed_at field"
Could we add a `tutorial_completed_at` field?

I'd like to store it as a date so we can tell the user if a tutorial has changed since they last went finished it.

Defaults to `null`.

[2015-10-01 16:31] edpaget commented on #1401
Can this be stored in the user's project_preferences?

[2015-10-01 16:31] edpaget commented on #1401
In the preferences hash?

[2015-10-01 16:34] brian-c commented on #1401
Sure, looks like I can't write arbitrary stuff there though: Error: found unpermitted parameter: tutorial_completed_at

[2015-10-02 07:46] camallen commented on #1401
We should move the preferences controller to use json schema and allow writes to the preferences json object.

[2015-10-02 07:48] camallen commented on #1394
@DarrenMcRoy can you reproduce or do your counts work?

[2015-10-02 12:39] edpaget commented on #1394
The user whose complaint is linked is definitely not having her counts increased. It works for me though, so I don't know where the failure is happening.

[2015-10-02 13:32] camallen opened #1403 "project status text field for display on the landing page."
Should we add a field to project contents to provide better user messaging for when a project is out of data / not active for classifications?

@mrniaboc @alexbfree ?

[2015-10-02 14:24] rogerhutchings commented on #1401
I was hoping to write arbitrary data here too, in my case for reusing annotation grids with Old Weather

[2015-10-02 20:03] chrislintott commented on #1349
I think we shouldn’t be offering this as a front end option - at least until enough people need it that it becomes a pain. Doing it easily on the API is a good idea though.

[2015-10-05 03:37] chrislintott commented on #1391
It’s mostly an elegance point - but it would be most useful for ‘and’ classifications.

e.g. If we wanted to use Galaxy Zoo to record galaxy morphology and note any asteroids that appeared, but didn’t want the main galaxy related task to include anything about asteroids we could have a ‘Asteroids?’ checkbox.

[2015-10-05 11:59] camallen commented on #1394
FYI, I'm working on this @DarrenMcRoy

[2015-10-05 15:53] #1383 closed

[2015-10-05 16:04] edpaget commented on #1383
Hope that works!

[2015-10-05 16:25] mkosmala opened #1409 "Help with orientation to aggregation code"
As luck would have it, I need to do some serious aggregation stuff over the next couple weeks -- exactly when @ggdhines is gone. He set up the "aggregation" button on the project builder, but I never get any results back if I push it. So I'm diving into the https://github.com/zooniverse/aggregation/ code. There's a lot there, though, and not much top-level documentation. I'm *assuming* the code I

[2015-10-05 16:46] edpaget commented on #1409
Greg is on vacation for the next couple weeks. I am only familiar with the api and job running code I setup.

[2015-10-05 16:47] camallen commented on #1409
@mkosmala the web_api.py and job_runner.py is to link the aggregation engine to the panoptes API (and not surprisingly run the jobs). Looks like something is up with the aggregation engine not reporting errors, i'll have a look asap.

We wanted to get this feature out asap but realized it will have bugs (unfortunately Greg is away). I'm not sure where @ggdhines got to with csv exports being an inp

[2015-10-05 16:53] mkosmala commented on #1409
@camallen Thanks. Yeah, looks like the main guts are in aggregation_api.py. I'm starting there. Thanks again.

[2015-10-05 16:53] #1409 closed

[2015-10-06 14:53] camallen commented on #1394
@DarrenMcRoy can you chase up with the reporters and find out if the problem is still occurring?

[2015-10-06 19:24] camallen opened #1411 "Expert roles"
I've got some stuck classification workers in the backend. Seems the collaborator role is allowed to submit expert classifications [here](https://github.com/zooniverse/Panoptes-Front-End/blob/7b519a06fd9aa798eda853142e27ff76323e0230/app/classifier/index.cjsx#L205) but the api only allows owner and expert roles specifically.

@aliburchard, should collaborators be experts as well?

[2015-10-06 19:40] brian-c commented on #1411
Setting gold_standard is actually limited to experts just below that line: https://github.com/zooniverse/Panoptes-Front-End/blob/7b519a06fd9aa798eda853142e27ff76323e0230/app/classifier/index.cjsx#L209-L220

[2015-10-06 19:51] camallen commented on #1411
@brian-c thanks. Then i'll have to dig into why the collaborator roles are being set in gold standard mode. Any chance gold standard data was submitted without the export / owner role for testing on prod?

[2015-10-07 11:48] #1371 closed

[2015-10-07 12:49] #1385 closed

[2015-10-07 13:17] mrniaboc commented on #1403
Yes!

On 2 October 2015 at 14:32, Campbell Allen <notifications@github.com> wrote:

[2015-10-07 14:15] #1401 closed

[2015-10-08 04:22] chrislintott commented on #1398
I agree with Meg that we should reset counters (or be able to) before launch.

For now we could do it by hand.

Chris

[2015-10-08 08:03] camallen commented on #1398
Currently we update the count with the results of a query not an increment and the proposed resetting and then incrementing a counter won't work properly with the database technology we use since it doesn't do atomic updates, we could switch the transaction isolation level but there may be scaling side effects.

We could add a project setting to signal different counting strategies and possibly ad

[2015-10-08 08:30] camallen commented on #1091
@edpaget I assume that this means reverting [this](https://github.com/zooniverse/Panoptes/commit/bcd7ce317da52b65e0ace08254405a0f13dcfa2c) and looking to add in functionality from [translatable](https://github.com/zooniverse/Panoptes/blob/c34f86525678397420bf886ddf80fcfeff58ac95/app/models/concerns/translatable.rb)?

[2015-10-08 08:36] mschwamb commented on #1398
The counters were an easy way for the Planet Four PI who doesn't deal with the database to report numbers to NASA or in talks. One could download the csv , so maybe not a great reason but it was really quick to look at the counters and quote the value  in a blog post or in a grant report .

Maybe the scarier option to suggest but in some ways simpler (not sure maybe it's much harder), could the cl

[2015-10-08 08:43] aliburchard commented on #1398
I agree we want counters to restart for an official launch. This is part of a bigger question of how we frame the build process - I think builders really want this "creation" stage, where they iteratively test and build (and evaluate test classifications), and then a "launch" stage where they clear the slate and are more formally in a live, public, finalized, data collection mode.

[2015-10-08 08:46] aliburchard commented on #1411
a bit late, but @camallen I'm fine with limiting gold_standard to just experts, as collaborators aren't necessarily experts (and they can be labeled as both if they are)

[2015-10-08 08:49] camallen commented on #1398
How about a project setting to switch between:
 1. count all classifications - the default.
 2. only count live classifications.

We could also but an embargo date time field to reset counters, i.e. don't count any before date X that would apply to both options above. I think point 2 would mostly take care of this though.

[2015-10-08 08:52] mschwamb commented on #1398
That sounds good to me.

[2015-10-08 08:53] aliburchard commented on #1398
I'm not sold on points 1 and 2 as a solution - it's trivial right now to switch between 'live' and 'development', and I put projects into live for the beta test, so those classifications would still be counted. The *real* milestone I think is a "public launch".

I think that only works if there is also a reset button (i.e. I don't think point 2 takes care of the need to reset).

[2015-10-08 08:56] mschwamb commented on #1398
@aliburchard make option 2 launch - 'from the date/time you get Zooniverse approval'?

[2015-10-08 08:58] aliburchard commented on #1398
I think I'd be okay with that.

[2015-10-08 09:06] camallen commented on #1398
so just to clarify, if we use the launch_approved datetime setting as the reset point to count from then any changes to a live launched project will **drop** counts. Does the front end still force a user to "un-live" a project to make workflow changes? If so and if you actually do make real task changes then this will be a problem and classifications that come in between zoo team re-launching a pr

[2015-10-08 09:15] aliburchard commented on #1398
So that's a problem - the front end still forces the un-living of projects to make minor changes. Also, even when that is fixed, there will occasionally need to be changes made to a real live project that shouldn't reset the clock. (As we do on our custom projects.)

I do think it's important (but not wildly urgent) that we provide a way for projects to start the counter fresh when they a real, pr

[2015-10-08 10:08] camallen commented on #1411
right - this is probably a bug then.

[2015-10-08 10:16] camallen commented on #1348
@AdrianEvans this is being worked on in #1414 and https://github.com/zooniverse/Panoptes-Front-End/pull/1712. Please re-open if this doesn't come online soon.

[2015-10-08 10:16] #1348 closed

[2015-10-08 10:17] camallen commented on #1373
I am going to work on this.

[2015-10-08 10:29] vrooje commented on #1396
We see tourism on just about every project. (You're right that it's not always a bot; I've seen kids do it when I hand them iPads in live demos. They just want to see the pretty pictures.)

There are various ways to downweight these classifiers. Galaxy Zoo uses a consensus-based weighting scheme that calculates how well a classifier agrees with the established consensus for the subjects they've cl

[2015-10-08 10:35] aliburchard commented on #1396
Out of curiosity, was this user logged in? Or is the ID based on an IP address/SessionID?

On projects with high rates of tourism, we might want to consider dropping non-logged in users from the aggregation analysis.

[2015-10-08 10:38] vrooje commented on #1396
I believe the original GZ had a very prolific bot, and that project required a login, so I'm not sure that would be enough.

I'm curious what the tourism rate is on Fossil Finder!

[2015-10-08 10:52] camallen commented on #1396
@AdrianEvans re retirement, yes currently all classifications count towards the retirement limit.

[2015-10-08 10:54] aliburchard commented on #1396
A thought (and imperfect solution): Make the first question *required* so users can't submit a null classification.

I know you make sub-tasks *not* required because of https://github.com/zooniverse/Panoptes-Front-End/issues/1563, and that making main tasks required triggers the sort of heavy-handed text on the workflow (see https://github.com/zooniverse/Panoptes-Front-End/issues/1666). But requir

[2015-10-08 12:40] camallen opened #1415 "do not rate limit dumps for admin users"
allow admin users to request a dump when they want.

[2015-10-08 14:17] mkosmala opened #1416 "Please don't change project URLs without letting project teams know!"
Sometime recently the # has been dropped from the project URLs so that, e.g.
https://www.zooniverse.org/#/projects/kosmala/season-spotter-questions/classify/
is now
https://www.zooniverse.org/projects/kosmala/season-spotter-questions/classify/

This breaks all the links I have from outside websites and social media (including our landing page)!

Tagging @khufkens who will also be affected...

[2015-10-08 14:21] edpaget commented on #1416
This changed over a month ago. It was being automatically redirected, but the redirect must have been broken yesterday.

[2015-10-08 14:24] edpaget commented on #1091
Nothing translatable does will help with this unfortunately. We need to figure out how to order pages by language preference and then only select the most complete set of pages that matches the user's language preference.

[2015-10-08 14:42] astopy commented on #1416
Closing this since it's covered by zooniverse/Panoptes-Front-End#1716

[2015-10-08 14:42] #1416 closed

[2015-10-08 14:57] #1399 closed

[2015-10-08 18:05] DarrenMcRoy commented on #1394
I've posted a question in the thread. Thanks for your attention to this! :-)

[2015-10-08 18:20] mkosmala opened #1417 "Default retirement rules show as {} in workflow export"
In one of my projects, I've set workflows to retire at a count of 5. In the "retirement" column of the workflows export, the value is ```{"options":{"count":5},"criteria":"classification_count"}```

In my other project, I left the workflows at their default value (retire at a count of 15). The "retirement" column for these workflows is just ```{}```.

Earlier versions of workflows in my first proj

[2015-10-08 18:49] DarrenMcRoy commented on #1394
Looks like this is fixed. Thanks!

[2015-10-08 18:49] #1394 closed

[2015-10-09 10:44] camallen commented on #1417
we should export the defaults.

[2015-10-09 12:29] marten commented on #1398
Would there be a reason to ever have a period after launch where we're not counting? As in count between 2015-01-01 and 2015-02-04, then don't count until 2015-02-08 and then start counting again until 2015-04-27, and count again from 2015-06-01?

Or can we assume that just "only count everything since 2015-03-02" is always sufficient?

- Marten

[2015-10-09 13:56] mschwamb commented on #1204
This just happened for me today. The email was received at 4pm Taiwan time today and it's now 9:56pm taiwan time.

[2015-10-09 13:59] camallen commented on #1204
this could be linked to long export generation times.

[2015-10-09 14:07] mschwamb commented on #1204
Hadn't realized this said classifications, I had exported the subjects, but that could still haven taken some time. I don't remember exactly what time I hit the button for this instance.

[2015-10-09 17:41] chrissnyder opened #1419 "Allow admins to update user resources"
Specifically any of https://github.com/zooniverse/Panoptes/blob/master/app/controllers/api/v1/users_controller.rb#L12-L14

[2015-10-09 18:11] edpaget commented on #1419
You should be able to.

[2015-10-09 18:16] chrissnyder commented on #1419
Will double-check what I was doing. Was getting 422 like:

`{"errors":[{"message":"found unpermitted parameter: private_profile"}]}`

With a payload of

`{"admin":"true","users":{"private_profile":false}}`

[2015-10-09 18:20] edpaget commented on #1419
On production? It looks like those changes haven't been deployed.

[2015-10-09 18:21] edpaget commented on #1419
See https://github.com/zooniverse/Panoptes/pull/1413

[2015-10-09 18:23] chrissnyder commented on #1419
Yea on production. I see cam's commit now, thanks.

[2015-10-09 18:23] #1419 closed

[2015-10-10 13:18] mschwamb opened #1420 "Subject data dump broken for Planet Four: Terrains due to bad subject set?"
Not sure where this goes, I thought this might be more a backend data issue so it should go here. Please let me know if I should report this somewhere else.

I'm concerned about the subject set I was able to upload yesterday. I started getting index error and postgres errors coming through. So I'm not sure if the database is okay for that subject set. See https://github.com/zooniverse/Panoptes-Fro

[2015-10-10 13:24] mschwamb commented on #1420
I should note, I was using the project builder to upload. I wasn't doing anything that should be unsupported.

[2015-10-11 07:58] mschwamb commented on #1420
Still says 'CSV format. Processing your request.' So I think some error is being thrown. If the subject set is broken beyond repair, you can remove it  and I'll wait until I get to Oxford to upload data. I made a separate subject set for this, so it's not the one live on P4: Terrains. It's subject set 2384 'p4_terrains_manifest2'

[2015-10-12 08:43] camallen opened #1421 "only set dump to created when the worker fires"
rate limited workers won't fire and thus leave a valid dump in a created state. Change [this](https://github.com/zooniverse/Panoptes/blob/master/app/controllers/api/v1/projects_controller.rb#L102) to set the 'creating' state when the worker fires.

[2015-10-12 09:13] camallen opened #1422 "PG supress subject set links index violoation error"
Linked to https://github.com/zooniverse/Panoptes-Front-End/issues/1738#issuecomment-146963762

Don't propagate these errors all the way back.

[2015-10-12 09:28] aliburchard commented on #1398
I think we can assume that we count everything after that initial launch. So if we tie the "real launch event" to a date, and count everything after that date, we're good.

[2015-10-12 09:30] marten commented on #1398
Cool. I'll get crackin

- Marten

[2015-10-12 09:51] camallen commented on #1420
I've just recreated your export, looks like you were still rate limited, I'll look into relaxing the time windows on this.

[2015-10-12 09:51] #1420 closed

[2015-10-12 19:45] brian-c opened #1425 "Tutorial steps should not required a title"
Re: this error: `{message: "{"steps/0"=>"did not contain a required property of 'title'"}"}`

Each tutorial step should have

- A `media` string, which will be the ID of the `attached_images` link for the step

- A `content` string, which'll just be some Markdown

[2015-10-13 08:57] aliburchard commented on #1417
yes please!

[2015-10-13 14:09] #392 closed

[2015-10-13 14:09] edpaget commented on #489
I think this is well covered in our readme now.

[2015-10-13 14:09] #489 closed

[2015-10-13 14:40] #1425 closed

[2015-10-13 16:26] edpaget opened #1429 "Rename to ZooniverseAPI"
@chrissnyder and I were talking about it this today, but we really think Panoptes and Panoptes-Front-End, should be renamed to ZooniverseAPI and zooniverse.org respectively.

I think this move would help our #hashtag #brand because it would mean when people are talking about this new thing at conferences they can say, "We have a new API and website, zooniverse.org, for building your own Zooniverse

[2015-10-13 16:28] edpaget commented on #1429
Also it would get rid of calling things 'Panoptes Projects' they would just be 'Zooniverse Projects', and it would remove the weird Foucault association I get every time I say the name (not sure if that's a problem for other people).

[2015-10-13 16:33] edpaget opened #1430 "Control workflow order"
From: https://github.com/zooniverse/Panoptes-Front-End/issues/935

[2015-10-13 18:10] chrissnyder commented on #1429
:+1: on pretty much everything here

[2015-10-13 18:33] mkosmala opened #1431 "Request for weekly generated and emailed classification files"
Would it be possible to have raw classifications (and possibly aggregate classifications) created every week and then emailed to us, like we already have for Snapshot Serengeti?

[2015-10-13 18:42] edpaget commented on #1431
In lieu of the on-demand ones?

[2015-10-13 19:13] khufkens commented on #1431
Ideally you would be able to tap into the database using some sort of RESTful framework. A full REST API seems stupid because that's too much overhead on your part. But, if you a partial solution would be nice where a weekly summary can be pulled using an URI and your login credentials.

This would bypass the emails, but also make it possible to reprocess data on the fly (weekly) by pulling data f

[2015-10-13 19:13] edpaget commented on #1431
You can already tap into classifications in a RESTful manner...

[2015-10-13 19:14] edpaget commented on #1431
`GET /api/classifications?project_id={your_project}`

[2015-10-13 19:39] khufkens commented on #1431
Made my day!!!

[2015-10-13 19:50] edpaget commented on #1431
Yup our docs aren't the greatest and certainly out of date, but you can check out more info [here](http://docs.panoptes.apiary.io/#reference/classification).

[2015-10-14 08:05] vrooje commented on #1391
This will also be very useful for humanitarian projects or any kind of project that has potentially disturbing images in it.

[2015-10-14 08:10] vrooje commented on #1398
What about periods of inactivity in projects? If we're thinking there will eventually be Panoptes projects where we temporarily put up a message of "your clicks aren't helping science right now, so you could do X or Y instead, but schools etc go ahead and classify", would we want to count those classifications?

For reference, GZ1 had something like 2 million classifications from the date of the G

[2015-10-14 08:16] vrooje commented on #1429
:+1:

[2015-10-14 08:39] CKrawczyk commented on #1069
There were two more uses on talk that have reported duplicate images:

https://www.zooniverse.org/talk/18/115/?comment=19991
https://www.zooniverse.org/talk/18/115/?comment=22586

[2015-10-14 09:08] camallen commented on #1429
I assume you're talking about these repository names?

[2015-10-14 09:20] aliburchard commented on #1398
hmmmmmm...I think I'd still want to count those classifications...

[2015-10-14 09:28] camallen commented on #1398
I agree with Ali but we could unlive the project too, then they wont count.

[2015-10-14 09:40] astopy commented on #1429
I agree. Frankly I was surprised we kept the “panoptes” name when we went live. I always thought of it as just an internal codename for development.

[2015-10-14 09:43] aliburchard commented on #1429
:+1:

[2015-10-14 09:50] camallen commented on #1431
If you have privileges on the project, you can also request a new classifications export via a POST to the api `/api/projects/:project_id/classifications_export`

[2015-10-14 09:50] #1431 closed

[2015-10-14 11:14] chrissnyder commented on #1429
@camallen Repo names, references in code, and more generally how we talk about the platform.

[2015-10-14 12:56] camallen commented on #1429
got it

[2015-10-14 14:22] edpaget commented on #1391
So this field just needs to be a string field with a key for one of the tasks? I'll add it in that case.

[2015-10-14 14:41] brian-c commented on #1391
An array of objects won't work?

[2015-10-14 14:47] edpaget commented on #1391
So it's a whole separate set of tasks?

[2015-10-14 14:51] brian-c commented on #1391
Yeah, a task will either be a normal-flow task or in the special persistent list. They won't mix.

[2015-10-14 15:03] #1430 closed

[2015-10-14 15:27] srallen opened #1437 "Can't log in to PFE locally -- No 'Access-Control-Allow-Origin' and 404 errors"
I'm seeing errors with sign in while running PFE locally today:

`XMLHttpRequest cannot load https://www.zooniverse.org/oauth/token. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3735' is therefore not allowed access. The response had HTTP status code 404.`

`XMLHttpRequest cannot load https://www.zooniverse.org/users/sign_in/?now=1444836078

[2015-10-14 15:34] camallen commented on #1437
yeah we don't allow access to prod from localhost. you can use the staging server or run a local one.

[2015-10-14 15:44] srallen commented on #1437
Yeah, ok, maybe something weird is going on locally for me. The other day it was authenticating with staging correctly and now with the latest PFE pulled down its trying to authenticate with production. Gonna close since this clearly isn't a back end issue --- what it's doing is correct.

[2015-10-14 15:44] #1437 closed

[2015-10-14 19:46] #1296 closed

[2015-10-14 23:30] bruggsy commented on #1069
Also been noticing this problem when annotating any subject set with more than 10 members, while logged in.

[2015-10-15 08:06] camallen commented on #1069
@bruggsy, do you have reports / talk subject id's, screenshots? Can you please confirm that these are real duplicates and not the expected behaviour, that is the api will return a set of subjects when you have classified all of them. The client should mark the images as retired / seen before in the browser, e.g.

![seen_before](https://cloud.githubusercontent.com/assets/295329/8649722/ab9a56a8-296

[2015-10-15 15:47] marten commented on #1429
Seems like @astopy [is using "panoptes" in AWS](https://github.com/zooniverse/infrastructure/pull/34/files#r42141124) as a more broad term for "the api and related services"? Might be useful to think about what we call the collective group of apps (ie panoptes+nero+aggregation+$thing).

[2015-10-16 14:01] astopy opened #1444 "Periodically re-sync email subscribers"
We should periodically (weekly?) send JISCMail a list of add/delete commands for all users where global_email_communication != null, to make sure it stays in sync. The worry is that some of our email commands to listserv aren't arriving.

[2015-10-19 10:27] camallen commented on #1396
closing this, please reopen if you feel that the issue is still unclear.

[2015-10-19 10:27] #1396 closed

[2015-10-19 10:58] chrislintott commented on #1398
I’m happy with them being counted for now if it makes life simpler

[2015-10-19 14:22] camallen commented on #1230
New solution seems to be missing users too, e.g. `@astopy` will have to revert or try a different kind of text indexing.

[2015-10-20 15:20] parrish opened #1448 "Project collections"
To allow collections to be filtered by project
- [x] Add a field to collections that contains the project_ids of subjects contained by the collection.
- [x] Update the field when a subject is added to or removed from the collection.

To allow subjects to have a project context in collections
- [ ] Add a field to collections_subjects that contains the id of the project the subject was collected fro

[2015-10-20 22:10] mschwamb opened #1449 "Extra quotations around everything in json format in the subject metadata in the csv dump"
I'm trying to parse the subject data csv in python so I can figure out what's in the site and what needs to be uploaded after some issues with my upload. I haven't parsed the files in a while but I'm having a problem using the python json package to parse the data. It looks like extra quotes have been added around everything

example:

The csv file has "{""filename"":""D13_032401_0920_XN_88S266W_0

[2015-10-20 22:18] marten commented on #1449
How are you parsing the Csv files themselves? Any csv field that has a comma in it needs to get quotes around the value, so that it's clear which commas terminate columns and which are part of the value. If a value then has quotes in and of themselves, the quotes in turn need to be doubled up to indicate which are the quotes wrapping the value.

A good csv parsing library should take care of all t

[2015-10-20 22:29] mschwamb commented on #1449
import numpy as np
from numpy import genfromtxt
import json

subject_set_id=genfromtxt('subjects.csv', delimiter= ',', dtype=np.str, skip_header=1, usecols=3)
metadata=genfromtxt('subjects.csv', delimiter= ',', dtype=np.str, skip_header=1, usecols=4)
print subject_set_id[0], metadata[0]

w=(subject_set_id == '2384')

print subject_set_id[w]
#metadata=metadata[w]

for x in metadata:
        x=x[1:-

[2015-10-20 22:33] marten commented on #1449
I'll have a look in the morning.

- Marten

[2015-10-22 10:03] #1411 closed

[2015-10-22 10:14] mrniaboc opened #1450 "Don't allow projects with broken workflows to apply for review"
We get a lot of people pushing the 'Apply for Review' button and when we go to look at their projects they aren't even delivering any images.

Perhaps we could also have some text appear that lets them know why they are not being allowed to push the button?

[2015-10-22 10:36] aliburchard commented on #1450
YES!! (not sure how easy this is to implement - but it sounds like a great start for the list of "health checks" we should run whenever someone applies for beta.)

[2015-10-22 10:55] marten commented on #1449
Looks like the issue is genfromtxt is not an actual CSV parser, it just splits on comma's, and doesn't recognize the need to do anything with string quotes.

You could use pandas:

[code]

[2015-10-22 19:31] chrissnyder commented on #1450
I agree with the sentiment, but not the solution. Personally, I think it's far too easy to click that button, which results in a lot of noise. I'd be for removing both review/full launch buttons from there, and creating a dedicated page with a much more extensive form for somebody to fill out before it enters the system. At that point, we can more clearly message who the review process is for, why

[2015-10-23 10:25] mschwamb commented on #1449
Thanks.

[2015-10-23 11:43] ezzjcw opened #1452 "Removing the play button that triggers an automatic flicker between multiple images"
As discussed at yesterday's Zoominar in Oxford, I am requesting the option (checkbox) in the project builder to disable the play button for workflows in which volunteers are presented with and classify multiple images, so that they are just left with the circles for selecting each image manually. I admit that we have not yet consulted any of the Panoptes code here in Nottingham, so if anybody out

[2015-10-23 12:37] marten commented on #1452
I must admit that my first thought on that was "but those circles are tiny!"

Also think that maybe we need to make autoplay configurable, default to false, or perhaps the play/pause state should be sticky across subjects for a given user, rather than remove the button altogether.

- Marten

[2015-10-23 13:07] ezzjcw commented on #1452
Yes, I like your suggestions. We'd be interested in playing around with the pace of the autoplay too, if that could be configurable. Any other suggestions?! (See my update above too.)

[2015-10-23 13:39] aliburchard commented on #1450
I love the idea of a more formal application for beta review process (though I do also want to automate a series of "health" checks that are run upon and/or prior to beta application). I'm a big fan of the application form that projects used to submit for open Zooniverse calls -- I think it does a really good job of forcing researchers to think really critically about 1) whether they really need p

[2015-10-23 15:33] vrooje commented on #1452
I'm confused: is this based on the assumption that subjects with multiple images will autoplay upon load? All the subjects in my projects have 2 images and they don't auto-play, so the play button is an extra for me. Is it not that way for others for some reason?

[2015-10-23 15:49] ezzjcw commented on #1452
My apologies for not being clearer, Brooke. You're absolutely right that autoplay is the wrong word to use because the user has to hit the play button first before they flick.

Whilst I am extremely wary to ask for too much, and to confuse you even further, is there the possibility for control of the play button to be read from the Manifest file? I hesitate to ask but for some time we have been ho

[2015-10-23 16:02] vrooje commented on #1452
In general I think it would be interesting to play with the way the multi-image subjects are presented (e.g. making the circles more obviously connected to switching subjects, related to @marten's comment above), and we've certainly talked about some of this before (e.g. zooniverse/Panoptes-Front-End#405). Just going based on the amount of coffee the Zooniverse developers drink, however, I suspect

[2015-10-26 09:05] camallen commented on #1452
2. whether the button appears at all (so that it is entirely controlled by the small circles underneath, or the arrow keys on the keyboard, so that the user can stay focused on the screen)
3. the flicking starts automatically on the page load and the user can only control it with a pause/play button.

Most of these settings would be better supported at the API level with a workflow configuration o

[2015-10-26 09:21] chrislintott commented on #1452
Agreed on making this a workflow option for now.

[2015-10-26 09:30] aliburchard commented on #1452
While these different options will be nice to have eventually, this seems like a pretty low priority for front-end at the moment (given the long list of front end to-dos).

[2015-10-26 10:12] camallen opened #1454 "add workflow configuration object"
linked to #1452, allow per workflow configs

[2015-10-26 16:14] marten opened #1455 "Warehousing plan"
I figured I should start writing my thoughts down somewhere.

So we have this Spark thing Ed wrote. Main issue with that is we need to get the data into it somehow, since the current querying style just loads up the entire classifications table.

I could look into splitting up that query, but what I'd propose is that we set up a sidetiq job in Panoptes to write yesterday's classifications to S3 ev

[2015-10-26 17:42] chrissnyder commented on #1455
+1 to using EMR rather than building and hosting a solution ourself

[2015-10-27 09:39] astopy commented on #1455
If we’re talking about warehousing, is it worth considering Redshift? https://aws.amazon.com/redshift/?nc2=h_l3_db <https://aws.amazon.com/redshift/?nc2=h_l3_db>

[2015-10-27 11:27] marten commented on #1455
And confuse the heck out of astronomers? :+1:

It seems like it would be able to load up data from S3 the same way a Spark job would, except more persistent. I'd like to get the Spark job Ed started running first (need to adapt it to load from per-day CSVs but other than that it seems like it should deploy easily), but we should look at Redshift after that for sure.

[2015-10-28 11:51] marten opened #1458 "Remove cassandra"

[2015-10-29 16:33] vrooje commented on #1069
Still getting occasional [comments](https://www.zooniverse.org/projects/vrooje/galaxy-zoo-bar-lengths/talk/22/582/?comment=28913) from users about duplicates. I think this is due to a failure to submit the classification the first time rather than a duplicate registered classification, but this still makes me uncomfortable because we don't really know how often this is happening, right?

[2015-10-29 16:34] DarrenMcRoy commented on #1069
Oh, so this isn't just a WildCam issue? https://github.com/zooniverse/wildcam-gorongosa/issues/192

[2015-10-29 19:35] bruggsy opened #1460 "Incorrect URL on apiary documentation"
Was using the documentation to create user groups via the API, kept getting 404 errors. Turns out the URL in the doc is 'api/groups' instead of 'api/user_groups', at least I assume because I got a real response for the latter.

[2015-10-29 19:58] bruggsy commented on #1069
@camallen Sorry for not responding, been busy with other projects. Not sure what you mean exactly, when I do an API request for a subject set / single subject I don't see those fields. The subjects I was having problems with were 1037498 - 1037697, and subject sets 2422 - 2440. The exact problem was getting "already seen" subjects before I had seen the whole set, as far as I can tell I wasn't gett

[2015-10-30 09:11] camallen commented on #1460
Linked to https://github.com/zooniverse/Panoptes/commit/da8579bc0edac797c9a6ca79d2cea480c091a7dd, will get a fix in for the docs soon. @bruggsy feel free to submit PR's for the api docs when you discover mistakes.

[2015-10-30 09:24] camallen opened #1461 "add index to created_at for user & user_groups recents"
avoid separate db sort steps when sorting recents end points.

[2015-10-30 09:32] camallen opened #1462 "add default sort order to classifications"
ensure consistent paging results by allowing the controller to have a default sort order on `created_at` that can be overridden in the serializer if the param is set.

[2015-10-30 16:50] camallen commented on #1069
@vrooje i'm looking into the dup reports for GZ Bars.

@bruggsy the system should be showing you unseen un retired images first, then falls back to unseen retired, then once you have completed them all it'll just pick some at random to show to you. Can you please check again and provide me some workflow / subject set id's to reproduce for your account?

[2015-11-02 10:11] camallen opened #1464 "user many project roles"
when a user has more than 1 project roles the owner relation ship fails, e.g. `roles = ["owner", "scientist"]` then `user.projects = []`.

need to use a `where.overlap` clause instead of [this here](https://github.com/zooniverse/Panoptes/blob/7636527d0b9cf1b82709cfb85c5cac809fbe8308/app/models/user_group.rb#L14)

[2015-11-02 10:12] camallen opened #1465 "user project & collection roles association"
Is undefined / not working.

`user.collection_roles` & `user.project_roles`

[2015-11-02 14:19] #1230 closed

[2015-11-03 02:15] vrooje commented on #866
Just noting somewhere for future reference: @willettk and I have been chatting about how classification duration (time it takes to do 1 classification) might be used to identify bots, by comparing each user's typical classification duration against the overall distribution and identifying outliers.

[2015-11-03 14:32] #1458 closed

[2015-11-04 18:52] parrish opened #1470 "Users with NULL email"
id:
1351050
1346916
1346529
1341967
1339109
1338316
1338281
1254840
1253836

[2015-11-04 20:01] bruggsy commented on #1349
Has this been implemented? I'd like to be able to create individual users via the API if possible.

[2015-11-04 21:55] bruggsy commented on #1069
@camallen Sure, the workflow is 861 and the subject set associated with it is 2592, project is 292.

[2015-11-05 08:27] camallen commented on #1349
Nope, it'd be closed if it was. You can create users via the api, `POST https://www.zooniverse.org/api/users` with a payload similar to what you see on the signup / register forms https://www.zooniverse.org/accounts/register

[2015-11-06 00:12] bruggsy commented on #1349
Of course, just wanted to know what's been enabled. Posting my questions to #546 since it's more relevant.

[2015-11-06 00:20] bruggsy commented on #546
Two questions:
1. Are OAuth applications still not allowed for this?
2. What is the format of the payload? Based off of the source, currently passing as
<pre><code>payload = {'authenticity_token':token,
           'user':{
        'login':'aksldfjklasjdflkasjdflkasjdf',
        'email': 'junk@galskdjlkasdjflkasjdlkfjasdlkfjasdlkfj.com',
        'password': 'iamamazing!!',
        'credited_name':'

[2015-11-06 14:58] camallen commented on #546
your payload is invalid, remove the authenticity_token and change it to be like
`{ 'users': {  data here... } }`

I'm pretty sure you'll also need to submit a CSRF token that you can harvest from response headers / HTML.

If you request  `GET /users/sign_in` you will get the CSRF token for your session in the header [here](https://github.com/zooniverse/Panoptes/blob/255ae7c5a0c52916f98c778031b39af

[2015-11-06 16:07] camallen commented on #1470
these all seem to be created by ouroboros and should have been fixed by this PR, https://github.com/zooniverse/Ouroboros/commit/1f26407df40e8949de69bedb27f3c6d771613f0b.

I'll add some dummy data into these.

[2015-11-06 16:09] parrish commented on #1470
Cool, thanks!

[2015-11-06 16:21] camallen commented on #1470
Done.

[2015-11-06 16:21] #1470 closed

[2015-11-06 19:23] bruggsy commented on #546
Thanks for the info: the proper form (with spelling typos fixed as well) is
<code><pre>
payload = { 'user':{
        'login':'login_name',
        'email': 'example@email.com',
        'password': 'password',
        'credited_name':'test',
        'global_email_communication':False,
        'beta_email_communication':False,
        'project_email_communication':False,
        'project_id':292

[2015-11-09 19:24] brian-c opened #1475 "Gold standard classification query"
I'd like to fetch a gold standard classification for a given subjects/workflow pair.

I'm thinking something like `/classifications?workflow_id=2&subject_ids=5&gold_standard=true` could do the trick.

[2015-11-10 10:32] camallen commented on #1475
I assume this is for the feedback? there is an issue where we don't currently allow the classifications to be indexed unless you are logged in AND (are the submitting user OR the project owner/collab).

Would this feature only be for logged in users or all users?

[2015-11-10 11:16] marten commented on #1475
I'm still wondering if this shouldn't be subject metadata. Presumably we'll quickly run into the case where there are multiple gold-standard classifications (nothing prevents this, and it seems likely that you'd ask all participating science team members to submit gold standard data), so which do you then choose? Or are you going to do the aggregation client-side? Wouldn't we be better off aggrega

[2015-11-10 11:28] marten commented on #987
Closing since we're now focussing on writing daily dumps and computing using a Hadoop cluster long-term.

[2015-11-10 11:28] #987 closed

[2015-11-10 11:45] chrislintott commented on #1475
I think there are two ways that people will submit gold-standard data.

For projects where simulations are providing gold-standard (Spacewarps, Planet Hunters) or where large expert samples exist (Galaxy Zoo, Snapshot Serengeti) people will upload subjects with metadata giving the right answer.

For other projects, we wnat to enable expert classifications to become gold standard, but in such cases

[2015-11-10 11:50] marten commented on #1475
If we want to build that in a generic manner, both approaches should probably end up writing to the subject metadata. That way the front-end only has a single place to look. You also don't need another API call to get the gold-standard data. And it bypasses the permissions issue @camallen mentioned.

If we want that, we should have add a post-processing step to incoming classifications to copy the

[2015-11-10 11:59] camallen commented on #1475
i've started work on an end point for allow public access to gold standard classification data [here](https://github.com/camallen/Panoptes/commit/16b270ff22d4956d19facad9a737d93cda4d22df).

I plan to add a config directive on the workflow / project to allow access if set, see public aggregations [here](https://github.com/zooniverse/Panoptes/pull/1228)

[2015-11-10 11:59] camallen commented on #1475
the only problem i see with subject metadata is re-use in different contexts but how much of a problem that is remains to be seen.

[2015-11-10 14:48] #1454 closed

[2015-11-10 16:52] mkosmala commented on #1475
Sorry to be late to the conversation, but I want to catch up on how gold standard data are being created and used.

For Snapshot Serengeti, we initially did not have an expert dataset. Instead we had a handful of experts use the Snapshot Serengeti interface to do ~4,000 classifications  and then I pulled those classifications out of the data dump by username. If we were to do the same thing again

[2015-11-11 11:26] aprajita opened #1477 "SpaceWarps test site not showing correct Task"
Hi there
Not sure if this is the best place for this query, but I am making a second demo of the SpaceWarps site on the Panoptes project builder and I've run into something strange with the first workflow I generated.

The way the SW classification is set up is that the first question is a drawing task (I deleted the original question). However, when I go to the classification web page it doesn't

[2015-11-11 11:58] camallen commented on #1477
@aprajita it looks like the workflow changes haven't saved correctly. Any chance we could debug in person?

[2015-11-11 12:00] aprajita commented on #1477
Sure, thanks @camallen
I can come down anytime between now and 3pm - let me know what's convenient & which office you are in. thanks.

[2015-11-11 13:44] camallen commented on #1477
Submitting changes to tasks was 401 as the Token had expired, without getting a new one before expiration. Strange as they user details still showed up on a new page load so not sure what was happening here since my sign out / sign in fixed it.

[2015-11-11 13:44] #1477 closed

[2015-11-11 16:54] camallen commented on #1475
Yep, that's the plan.

Yeah, they are. we are working on a new setup where we can allocate subjects to specific users so you could say get all my experts to classify this. We could also provide a mech to allow experts the ability to request certain subjects in the UI.

If you've classified a subject before you should not see it. There is nothing stopping another expert from seeing that though and

[2015-11-11 17:07] ggdhines commented on #1475
@camallen @mkosmala  good standard analysis is probably a none trivial thing - I'll just give an example of how I might use it for Penguin Watch (a project I've put some thought into on this subject). One possibility is that for each subject you match up the volunteer markings with the expert markings - if you care about the exact XY coordinates. You then look for the average distance and the % wh

[2015-11-11 18:38] camallen opened #1480 "recount SubjectSet -> Subject counts on relation link add"
don't count after every `set_member_subject` create / delete since it's just spamming sidekiq. instead hook into the lifecycle events of the controller actions.

![image](https://cloud.githubusercontent.com/assets/295329/11099346/b7939b70-88a2-11e5-94aa-e31dde91aa82.png)

Think about removing the `set_member_subject` create end point and force people to use the optimised `subject_set` add_links ht

[2015-11-12 16:01] chrislintott commented on #1475
Right now the idea is just to have something which can be used to provide feedback to volunteers, as in SpaceWarps. Of course, there are implications for aggregation too.

[2015-11-12 16:21] camallen opened #1482 "project subject counts should only respect linked subject sets"
Project subject_counts should only summate the linked workflow subject sets and not all the project subject sets. Currently `workflow.subject_counts` respects the unlinked state but `project.subjects_count` doesn't. [Change here](https://github.com/zooniverse/Panoptes/blob/59ffad364842e0f326c5d9d3ac7c0e5f20e5780f/app/models/concerns/subject_counts.rb#L5) to use an `active_subject_sets` method diff

[2015-11-12 19:04] mkosmala opened #1484 "Classification data link in email doesn't work"
When I request classification data, I get sent an email with a link that reads "click to download your data". When I click it, I get the error "This XML file does not appear to have any style information associated with it." I *can* get the data file by going to the Project Builder and clicking the link there.

In my specific case, the email link points to:
[code]

And the link in the project buil

[2015-11-13 11:05] camallen opened #1485 "ensure backwards compatability for filtering project collection favourites"
[Here](https://github.com/zooniverse/Panoptes/blob/master/app/controllers/api/v1/collections_controller.rb#L30) should filter on `project_ids` & `project_id`.

E.g. `project_ids = (params.delete(:project_ids) || params.delete(:project_id)).try(:split, ',')`

[2015-11-13 11:07] camallen commented on #1484
Those links will differ due to the way we build them (it's the same code for the email and the project builder). Can you check get a screen shot of the error message? It should be different probably "access denied" instead of xml stylesheet (red herring).

[2015-11-13 16:26] DarrenMcRoy commented on #1475
Just to chime in: having that, for the reason Chris said, is a very popular feature request from volunteers. They definitely like having the feedback to let them know how well they're doing!

[2015-11-13 16:55] mkosmala commented on #1484
ExpiredToken...
![no-data-for-you](https://cloud.githubusercontent.com/assets/1066340/11151854/5b4f9b64-89fd-11e5-94d7-0c3b9f9d8043.png)

[2015-11-16 11:52] #1475 closed

[2015-11-16 12:01] #1485 closed

[2015-11-16 15:31] camallen commented on #1452
I'm closing this as the api now has a workflow configuration object, that the UI can store state in to modify behaviour.

@ezzjcw you should probably open a ticket in the UI repo (https://github.com/zooniverse/Panoptes-Front-End) referencing this issue but as Ali say's it's pretty low priority for us.

[2015-11-16 15:31] #1452 closed

[2015-11-16 17:28] camallen commented on #1448
@parrish just looking at the code

This should already be in the api via [here](https://github.com/zooniverse/Panoptes/blob/7bd47e0197f38f10a6262b67ccfd5abfc39d397d/app/serializers/collection_serializer.rb#L4) and look like `/collections?subject_id=1`. So we just need to add a sort field in the collection serializer and supporting index. You happy to mark the last checkbox as done?

[2015-11-16 18:38] parrish commented on #1448
We could use that.  Must've missed the intent of the abstraction before.

Do you foresee any issues with performance filtering across the join like that?

[2015-11-17 09:55] camallen commented on #1448
Should be ok since it'll be hitting the join table. We've got a compound index on collection_subjects (collection_id, subject_id) but we'd probably need another on just the subject id to support this query. I'll have a look at the query explains.

[2015-11-17 11:18] mschwamb commented on #1484
After an hour or so the tokens are still expiring on the data dupmps. I got the same thing today on the subject data which got sent within about a few minutes post hitting the button. @camallen is there any difference from how this is done with the Mongo datadumps? I get 24 hours on those daily links.

[2015-11-17 11:42] marten opened #1492 "Update UserInfoScrubber to scrub more fields"
We should make sure to scrub login/display_name/credited_name fields too. Because those need to be unique, generate a UUID or use the current time.

Ties in with https://github.com/zooniverse/Panoptes-Front-End/issues/1913

[2015-11-17 15:05] camallen commented on #1484
we've got a lead on this issue finally...hope to test soon and report back.

[2015-11-17 15:10] mschwamb commented on #1484
Thanks @camallen

[2015-11-18 09:50] astopy opened #1494 "Puma config missing"
This is broken in staging:

[code]

[2015-11-18 10:51] astopy commented on #1494
Fixed by #1495

[2015-11-18 10:51] #1494 closed

[2015-11-18 13:31] camallen opened #1497 "ensure new relic works with puma preload & cluster"
[code]
https://github.com/puma/puma/issues/614#issuecomment-117712457

either turn off preload or don't require new relic in gem file but manual start it in puma config
https://github.com/Tomohiro/plate/commit/0a5a072c8d882f32a48d8bdbfa325e83719f58f8

[2015-11-19 10:45] #1421 closed

[2015-11-19 10:45] #1417 closed

[2015-11-19 13:32] #1497 closed

[2015-11-19 14:54] camallen opened #1499 "reload non-logged in queues in rake subject importer"
[Here](https://github.com/zooniverse/Panoptes/blob/93d1e3d85c8d89481d6455b58d0e55f7e847b8df/app/workers/subject_import_worker.rb#L77) call the ReloadNonLoggedInQueueWorker for the workflow / subject_sets combos.

[2015-11-19 16:47] brian-c opened #1502 "Projects need a FieldGuide resource"
Very very similar to the Tutorial resource.

It'll contain an list of `items` (probably a JSON blob?), each with a `title` string, a `content` string, and an `icon` image source string that'll refer to a Media resource, so it needs `attached_images` too.

[2015-11-19 17:17] camallen commented on #1502
i'll get working on this tomorrow.

[2015-11-20 10:22] camallen commented on #1502
Do the items need to be ordered? Or would it make sense to have the project have many tutorial resources that have an order property?

[2015-11-20 10:50] brian-c commented on #1502
Yes, some ability to define the order is required.

[2015-11-20 14:38] camallen opened #1503 "worfklow config attribute clashes with serializer methods"
rename the column and code to use configuration instead.

[2015-11-23 10:00] marten opened #1506 "Add "finished_at" to workflows and set it when retiring last subject"
Currently we set them to `active: false`. Deactivating means they get hidden from view which focuses users on whatever workflows are still left to do. However, it also means we lose the information about which workflows should be visible whenever everything is completely done.

I think we should therefore set a flag that marks them as done, and add support in PFE to help focus users on workflows t

[2015-11-23 10:11] camallen commented on #1506
This is exactly what happened to GZ Bars.

PFE only selects active workflows on the project load so i think the user focus is ok in most cases. When all workflows are retired is when it gets messy. I agree we should still mark worfklows as "finished" when they have completed their data.

Project level signalling was something @mrniaboc and I spoke about a while back and providing a project level "

[2015-11-23 12:05] vrooje commented on #1403
+1

[2015-11-23 17:34] camallen commented on #697
this shouldn't be an issue when using cellect out the req/response cycle for building queues.

[2015-11-23 17:34] #697 closed

[2015-11-23 17:44] camallen commented on #1373
- [ ] Redo api_controller.rb rescue from and cellect_session
- [ ] classification_lifecycle.rb update cellect in there
- [ ] look at a proxy obj to determine which selection service is used (PG vs Cellect) in subjects_controller.rb
- [ ] workflows_controller.rb look at queue rebuilds end point here like the cellect_reload route used to (and workflow.rb scope_for)
- [ ] retirement_worker.rb let cel

[2015-11-23 19:39] DarrenMcRoy commented on #1230
This still takes about 7-10 seconds to find my username, for the record...

[2015-11-24 09:04] camallen commented on #1230
It's a trade off between speed and completeness, i.e. i can have a search return super quick that doens't find you. Also looks like the front end is firing off a lot of queries. maybe it could do better on timing events and stress the server less.

[2015-11-24 10:37] camallen opened #1509 "check pg_search scopes for user search are using indexes"
seeing large cpu spikes when searching for small strings, e.g. `d` & `dzm`. Check the query is using indexes and the resulting sql is optimised.

[2015-11-24 14:21] DarrenMcRoy commented on #1230
Any chance we could add some time of note that it's "still searching..." so that it doesn't look like it's just hanging?

[2015-11-24 14:59] #1503 closed

[2015-11-24 15:00] JessMead opened #1510 "Panoptes-dump-reader"
Hello,
I have downloaded my data exports from the zooniverse project builder website and can see that within the .CSV files there are columns where all of my data is presented. However, in this format it's not very "usable" for the kind of data analysis I want to do. I'd like to separate out the data in these single columns into multiple columns. I found this: https://github.com/zooniverse/panopte

[2015-11-24 15:56] marten commented on #1510
It's quite possible you're the first person to use this on Windows. I don't think that piece of code has seen much usage yet. I'll have a look on a Windows machine over here.

That said, we're working on converting the normal exports into a format that doesn't use JSON as much. Some questions will still need it for some parts of the answer (a drawing task has a list of coordinates which is probabl

[2015-11-25 08:20] camallen commented on #1448
@parrish in light of https://github.com/zooniverse/Panoptes-Front-End/pull/1939 we just need the final project tracking context of subjects in collections right? I assume the last point i solved..

[2015-11-25 08:48] JessMead commented on #1510
Hi Marten,
Thanks for the information. The two week wait is completely fine as the project I've made isn't even live yet- I was just making sure that I could do something with the data once I had some. If the new format would mean having the answers to each question in separate columns except for the drawing tasks (because that could potentially be lots of columns!) then that would be ideal.
Look

[2015-11-25 11:53] #1502 closed

[2015-11-25 16:01] parrish commented on #1448
Yep, updated!

[2015-11-26 02:01] mschwamb opened #1513 "Not all my collections showing in search for collections for menu to add a subject to a collection"
I think this is an api issue, so posting here. When I try and add to collections it's not listing my entire list of collections. New collections aren't showing on the list.

The menu to add subjects to a collection is displaying the recent ones that I added.

Maybe it's related to the lag time from being in Taiwan, but then I'd expect not see any search results.
![screen shot 2015-11-26 at 7 30 16

[2015-11-26 02:02] mschwamb commented on #1513
Random Mars and Mars are missing from the list. I made those out testing out that collections had be fixed a few days ago.

[2015-11-26 08:37] camallen commented on #1513
@mschwamb can you please add me as a collab on the problematic collections? I'll need access to them to debug.

[2015-11-26 09:39] mschwamb commented on #1513
https://www.zooniverse.org/collections/mschwamb/random-mars/collaborators/

https://www.zooniverse.org/collections/mschwamb/mars/

You should be a collaborator on both now

[2015-11-26 11:36] alexbfree commented on #1403
+1

[2015-11-26 11:41] simoneduca commented on #1403
yep, +1

[2015-11-26 11:41] camallen commented on #1403
still not enough

[2015-11-26 15:42] aliburchard commented on #1403
+100!

[2015-11-26 15:47] camallen commented on #1403
happy for pull requests on this one @aliburchard

[2015-11-27 14:02] camallen opened #1514 "Incorrect project classifiers count"
The `events_controller` api is incorrectly updating the project classifier count on all activity messages. It should only count them when the `user_project_preference` is created for the first time and thus indicating a new user for a project.

For reference, the `events_controller` is used to link legacy project activity counts to the new zooniverse api, this is the way we keep counters in sync b

[2015-11-27 14:07] camallen commented on #1514
Inspired by [this blog](https://medium.com/@kentcdodds/first-timers-only-78281ea47455#.f0qsx03r0) post, I've made a start on fixing this issue and written specs that can verify a solution (TDD) on this [here](https://github.com/camallen/Panoptes/commit/93f41ed318f6226b8dad7dbca4a7058690ffc4e7).

If anyone wants to help fix this it'd be a great chance to get a PR into the panoptes api, just take my

[2015-11-27 14:45] camallen commented on #1513
both show up for me when i search for them, try "mars" in the search box. I think what's happening here is a default page size of 10 on first load and you've got more than 10 so they don't show. Best to use the search filter to shrink the resulting set size so you see more relevant collections.

[2015-11-27 17:16] #1509 closed

[2015-11-27 23:36] mschwamb commented on #1513
Thanks for checking on this.

People aren't going to remember their collection names in the classification interface,  I think. I couldn't tell you the name of my four collections.  I think the classification menu should show them so they don't have to try and remember, especially the person is active on many projection. The very advanced volunteers could have many collections for a few projects.

[2015-11-29 05:22] mschwamb commented on #1484
I think this is fixed now. I was able to redownload a classification csv from the email link that I received yesterday day.

[2015-11-30 10:06] camallen commented on #1484
@mkosmala can you confirm?

[2015-11-30 10:07] camallen commented on #1513
Ok this is a UI issue, we need to filter the fav's out of the collection list and maybe increase the page_size on the load request.

[2015-11-30 10:14] mschwamb commented on #1513
yeah I think that would be helpful. I can put in a ticket there, though the search changed recently to include the favorites recently so is that an api/backend change ?

[2015-11-30 10:18] camallen commented on #1513
The api supports search by fav tag (t/f) so it's just a matter of modifying the query params for the collection search [here](https://github.com/zooniverse/Panoptes-Front-End/blob/0bb3ac57aaa5438e9795fd776c731dcc487e44a0/app/components/collection-search.cjsx#L17).

[2015-11-30 10:20] mschwamb commented on #1513
okay. I'll link to this ticket in the front end. thanks @camallen

[2015-11-30 10:20] #1513 closed

[2015-11-30 12:27] marten commented on #1366
@mkosmala the solution we ended up with calculates by counting classifications made since a given date. I have Season Spotter Questions down as 2015-07-21, is that the date you'd want to start the counters (essentially that's then the date they would have all been zero). If so, I'll trigger a recount.

[2015-11-30 14:42] camallen opened #1516 "save data for replay when redis errors on classification save"
Similar to when redis is unavailable we 500 on saving classifications and may lose user data if the client doesn't catch this and attempt a resubmit.

Should we rescue and push to a queue (SQS?) on failures like these?

[2015-11-30 15:12] marten commented on #1516
If we can rescue it, we can write the job args to a normal Postgresql table, and have a Sidekiq cron job that tries writing it to Sidekiq every so often (like 10 mins).

[2015-11-30 15:13] #1449 closed

[2015-11-30 15:15] camallen commented on #1516
specific classification Redis errors to rescue on are `Redis::CommandError` & `Redis::CannotConnectError`.

I like the idea of serializing the classification data,  we'd just recreate the controller create action via a sidetiq job. On error, push the classification object with the action type into the table. Then at an interval load each one, persist it to the db then queue via the lifecycle actio

[2015-11-30 15:17] marten commented on #1516
Oh, I was thinking more like a wrapper around `Job.enqueue` that falls back to AR.

[2015-11-30 15:26] camallen commented on #1516
looks like i've misinterpreted what happened when redis was unavailable, looks like the classification data was saved [here](https://github.com/zooniverse/Panoptes/blob/409e0f3d8d81e9d72e658f25bfcd33a49664a796/lib/json_api_controller/creatable_resource.rb#L17) but they wouldn't have been queued for lifecycle events.

Your wrapper around the job enqueue is what we need here.

[2015-11-30 15:35] camallen opened #1517 "add lifecycled_at field to classification"
On the event where classification saves but can't be queued for background work. We'd set the `lifecycled_at` field on successful classification lifecycle processing and add a sidetiq scheduled job to reprocess any that haven't been set.

[2015-11-30 15:35] camallen commented on #1516
closing in favour of #1517

[2015-11-30 15:35] #1516 closed

[2015-11-30 15:56] mkosmala commented on #1484
Confirmed. Email link works.

[2015-11-30 15:56] #1484 closed

[2015-11-30 15:59] mkosmala commented on #1366
@marten Yep, 2015-07-21 is perfect. For both Season Spotter Questions (project id 347) and Season Spotter Image Marking (id 348).

[2015-11-30 16:28] marten commented on #1366
@mkosmala In that case, everything should be fixed up now. Here's the number of subjects that were dragged out of retirement as a result:

Questions:

* "1-4_SimpleSingleCrops" => 200
* "1-3_SimpleSingleGrass" => 163
* "1-1-5_SimpleSingleShrubs" => 211
* "1-2_SimpleSingleNeedleleafTrees" => 167
* "1-1_SimpleSingleBroadleafTrees" => 179
* "2-2_SimpleDoubleDeciduousFall" => 152
* "2-1_SimpleDoubleDe

[2015-11-30 16:28] #1366 closed

[2015-12-01 00:14] DarrenMcRoy commented on #1403
Oh, well, yes, absolutely. Both as part of the card on the Projects page and on the landing page.

[2015-12-01 11:21] astopy opened #1519 "Policy/documentation for custom (automated) uploads"
Following a brief discussion in Slack yesterday I wanted to open this issue for us to decide what our "official" process is for non-project builder uploads, and to get some documentation/guidance for developers published somewhere detailing that process.

This has already come up a few times, when people have asked me whether we can provide AWS credentials for people to upload their files (with ma

[2015-12-01 11:31] marten commented on #1519
Completely agree.

[2015-12-01 15:19] camallen commented on #1519
agree, also there is nothing stopping us adding external uploads to the project builder. I started a branch to do just this a while back but never got around to finishing it.

[2015-12-01 15:27] rogerhutchings commented on #1519
Agree - it would also give me an incentive to package up the various subject upload scripts I wrote for AnnoTate if people want examples of how to script their own uploads

[2015-12-01 15:45] srallen commented on #1519
I think all of us have probably written a script to upload a batch of subjects, so a single preferred solution would be useful. There's also the [panoptes subject uploader](https://github.com/zooniverse/panoptes-subject-uploader) that could be updated and used?

[2015-12-01 15:46] camallen commented on #1519
@srallen yes! Perhaps it's something we can iterate over next week?

[2015-12-01 15:58] srallen commented on #1519
There are a couple of open PRs that I believe fix the authentication problem. Let's definitely review it next week. :+1:

[2015-12-01 16:00] brian-c opened #1520 "Expose workflows' public_gold_standard field"
I can put a value into `public_gold_standard` just fine, and it works as expected (thanks @camallen) but it doesn't seem to be included in the workflow serialization.

[2015-12-01 16:11] camallen commented on #1506
@marten pretty sure this is finished..?

[2015-12-01 16:12] marten commented on #1506
Yup, just forgot a separate issue existed and thus didn't tag it in the PR.

[2015-12-01 16:12] #1506 closed

[2015-12-01 16:16] #1455 closed

[2015-12-01 16:32] marten commented on #411
We did the update, but I haven't looked at those monkey patches. Keeping this issue open as a reminder about those.

[2015-12-01 16:35] marten commented on #322
Wow, have we really had those pending specs for a year now? I'm moving this to the next sprint, but I'm fine if we just decide to toss out the specs instead of doing the work.

[2015-12-01 16:58] camallen commented on #322
pretty sure we have similar functionality prompted in the UI via [here](https://github.com/zooniverse/Panoptes/blob/8ca5e8b606c7b2179c9f20de2a25998c40435f63/app/serializers/user_serializer.rb#L34), so it'd be nice to finally wire this up and get it done.

[2015-12-01 17:03] vrooje opened #1522 "Updating subjects once they've been uploaded"
Many projects find they need to make relatively minor changes to their subject sets while they're in testing mode, including small tweaks to images and updating metadata. Right now project owners have to just upload these as new subjects and deactivate the old subjects. Over time that's probably going to lead to a high quantity of "dead" subjects that will never be used in a live project.

So, sho

[2015-12-01 17:24] marten opened #1523 "Track "live workflow version" instead of disallowing edits while project is live"
What happens currently is that people just unlive their project, make edits, and relive. All it really does is prevent accidental edits to the workflow. But since liveness and publicness are two concepts, people will still be doing work while a project is not live.

A better solution is that Workflows track their "live version" (as defined by Papertrail). That's then the version the public API ret

[2015-12-01 17:41] mschwamb commented on #1523
@marten - Something you might not have considered, though maybe you have. I found once you launch a project publicly you're really done for a long while. The only time I'm unliving right now is to switch datasets or editing something in the help (since I link to other pages in the help when url redirects have changed I had to make edits).

 If making a subject set live on the site was taken out of

[2015-12-01 18:22] vrooje commented on #1523
I think this is a great idea and is much cleaner than switching back and forth between live/not-live several times. It would allow people to refine changes they need to make and preview them without making them live, then switch smoothly to the updated workflow without have to deal later with classifications made while the project was public but not live (and which may or may not need to be thrown

[2015-12-01 20:49] srallen commented on #1069
I setup a project today for Intro2Astro using a very small subject set with 22 subjects and @JulieAnnKU reported this issue. She was served a subject with the already seen flag before having seen all 22. Project id `1616`, subject set id `2754`, workflow id `1064`

[2015-12-01 23:06] camallen opened #1525 "Split event stream type into source and type fields"
linked to #1508, the EventStream `event_type` [here](https://github.com/zooniverse/Panoptes/blob/aa90acd2c3279ce4d2b632e6a4e454ad11f226bf/lib/event_stream.rb#L3) should be split into `event_type` and `event_source` for better query filtering in ES.

E.g. `event_type: 'panoptes.classification'` should become `event_source: 'panoptes', event_type: 'classification'`

[2015-12-02 10:06] camallen opened #1526 "Grouped selection should always return data"
Don't throw an error, always return some data for that set and provide the context, [here](https://github.com/zooniverse/Panoptes/blob/aa90acd2c3279ce4d2b632e6a4e454ad11f226bf/lib/subject_selector.rb#L67)

[2015-12-02 10:26] camallen commented on #1514
@zooniverse/developers does any non-api contributor want to try their hand at this? This is an ideal way to get exposure to the API code.

[2015-12-02 10:42] camallen commented on #1525
closing in favour of handling this in the event writer layer from kafka.

[2015-12-02 10:42] #1525 closed

[2015-12-02 15:50] #1520 closed

[2015-12-02 16:53] camallen commented on #1523
Yeah i really like this too!

[2015-12-02 16:58] camallen commented on #1384
This will now be remove the finished_at flag instead.

[2015-12-02 17:04] camallen opened #1529 "Delete subjects that haven't been used"
Linked to https://github.com/zooniverse/Panoptes/issues/1193#issuecomment-125981137

When deleting subject_sets it should cleanup any orphaned subjects via background workers. See the constraints for hard deleting subjects. Also the constraint checker could be used in a rake task to cleanup currently orphaned subjects from the last year of failed uploads, etc.

[2015-12-02 17:06] camallen commented on #1363
we should probably recount for all launched projects like we did for GZ bars.

[2015-12-03 15:16] #1368 closed

[2015-12-03 17:46] camallen opened #1530 "oauth application edit form submit is broken"
submits to `/applicatoins.:id` not `/applications/:id`

[2015-12-03 20:53] tedcheese opened #1531 "Retired images being served when plenty of unretired images remain"
@camallen, @aliburchard

A few users have brought up that they are seeing retired cropped images (workflow 9) in Whales as Individuals -- https://www.zooniverse.org/projects/tedcheese/whales-as-individuals/

See talk, from Dec 2 onward: https://www.zooniverse.org/projects/tedcheese/whales-as-individuals/talk/27/668?comment=40079&page=1

According to a subject export yesterday, the 'combined cascad

[2015-12-03 21:03] tedcheese commented on #1531
Here's a couple screen shots from volunteer (and moderator) elisabethb. She sent a bunch more, largely more of the same, and said, "I clicked on ten images (more or less) and all of the uncropped images were 'already seen/retired'."

![retired1](https://cloud.githubusercontent.com/assets/7146233/11574011/12d08e68-99be-11e5-94ef-cf933429ecf0.jpg)
![already seen1](https://cloud.githubusercontent.com

[2015-12-03 21:25] mkosmala opened #1532 "Request for a metadata file describing fields in data exports"
Just like the title says -- new folks don't know how to read the data exports. A file explaining the different fields would be super helpful. (Maybe such a thing already exists, but I don't know where?)

[2015-12-03 21:36] camallen commented on #1531
Hi @tedcheese, most likely the users are power users that have seen all the images. If they have seen it we won't show it to them again and they may have only not seen retired subjects. Can you get some user names / ids and i'll check.

[2015-12-03 21:44] yshish commented on #1531
@camallen I'm sorry I have to disagree with you. I didn't classify that much (less than 200) but I am one of those experiencing the issue while classifying uncropped images.

[2015-12-03 21:53] tedcheese commented on #1531
@camallen, apologies, this is workflow 84, not workflow 9. I was thinking exactly what you've said, but as of 12/2 there were still 114 images in workflow 84 that had no classifications. Users are: yshish -- but as we see from the above comment this is not the case there, elisabethb and Anitavdk.

Could it be that there's a problem with some of the subject sets? There are still > 1800 unretired im

[2015-12-03 21:54] camallen commented on #1531
I'll have a look tomorrow.

[2015-12-04 11:03] camallen commented on #1532
Would resolution of the csv exploded dump export fix this issue for you? https://github.com/zooniverse/Panoptes/issues/1510#issuecomment-159312145

[2015-12-04 13:18] #1530 closed

[2015-12-04 13:42] mkosmala commented on #1532
Not exactly. My colleague wants to understand exactly what things like 'workflow_version', 'created_at', 'started_at', and 'finished_at' mean. These latter two will be new columns in the exploded dump export. But we'll still need to know what exactly they mean! The explanation doesn't need to be long. Something like "finished_at is the time (in UTC) that a user clicked the 'Done' button" is perfec

[2015-12-04 13:47] camallen commented on #1532
Any chance you want to write this up for your colleague and contribute back?

[2015-12-04 13:54] mkosmala commented on #1532
Hmmm... well, I'm not *entirely* sure I know the exact meaning of each column. For example, is 'created_at' the same as 'finished_at'? If not, what's the difference? And I don't know exactly how the 'workflow_version' gets incremented. When is the minor number incremented and when is it the major number? Maybe the way to get the best documentation is for me to have a first-round crack at it, attac

[2015-12-04 13:58] camallen commented on #1532
Sounds like a plan. For starters, created_at is set on first db persistence, updated_at any db persistence after that (caveat being through the model layer and not direct sql).

Finished at is recorded browser side (as are all metadata timestamps). Workflow version is the combination of the workflow model version (major) and the workflow_contents model (text and minor versions), so updating the wo

[2015-12-04 14:52] mkosmala commented on #1532
Where's a good place to upload a draft?

[2015-12-04 15:00] camallen commented on #1069
I've got another lead on real duplicates for users. Seems some of the background workers haven't been running and creating the req'd tracking details for what they've seen. Linked to #1517, ensuring that these workers run as soon as possible after failure decreases the window for duplicates to emerge.

[2015-12-04 15:28] camallen commented on #1532
why not start a wiki doc on the repo, https://github.com/zooniverse/Panoptes/wiki?

[2015-12-04 15:33] mkosmala commented on #1532
Do you think that's a good place? Seems to me like all the Panoptes docs are really low-level and geared towards developer-types. I tried adding my file to https://github.com/zooniverse/Data-digging, which I think might make more sense, as it's more project-creator end-user oriented. (But I did a pull request, which is maybe overboard. Is there an easier way to add to a GitHub repo when the merge

[2015-12-04 16:13] camallen commented on #1531
@tedcheese @yshish - yep there was a problem. The workflow was marked as finished as it's retired counts were off from an earlier bug with early retirements (multiple counting on incoming classifications). I've reset the counts and un-finished your workflow so data should be flowing properly again.

[2015-12-04 16:17] yshish commented on #1531
Thanks, @camallen I've just tried it and received an uncropped image to classify with no retired flag.

[2015-12-04 16:19] camallen commented on #1531
@yshish good news! Note: the issue may really be happening for power users though.

[2015-12-08 10:29] marten commented on #1514
@amyrebecca Here's that issue Cam mentioned yesterday.

[2015-12-08 10:50] marten opened #1538 "It's too hard to set up panoptes"
Keeping some notes about @amyrebecca's struggles while setting up Panoptes for actual dev work instead of just docker.

If you want to `bundle install` locally so you can run the test suite outside of Docker (easier debugging and way faster):
- mysql gem needs mysql installed locally
- can we remove zoohome connections so we can remove mysql2?
- you need postgres locally, needs to be in the readme

[2015-12-08 11:25] amyrebecca commented on #1538
Here are the additional steps I needed to follow:

1. `brew install ruby` to go from system ruby to ruby v2.2.x
1. `brew install mysql`
1. `brew install postgres`
1. `docker-machine ps` to get ip address
1. edit `config/database.yml` to change hostname
1. `gem install bundler`
1. `bundle install`
1. `rake db:setup RAILS_ENV=test`

now you can run tests with bin/rspec and, for example, a given rb f

[2015-12-08 13:47] amyrebecca commented on #1538
Marten advises that the mysql dependency is or will soon be removed.

[2015-12-08 14:17] #1514 closed

[2015-12-09 15:57] alexbfree opened #1546 "Issues with project search"
To see these issues, please visit http://preview.zooniverse.org/panoptes-front-end/miniztm/?env=production#/projects , which uses the project search service for the search box on the right. This reveals a couple of issues, you will see both if you start typing `"Snapshot Serengeti"`.

### First issue: Non-public projects(?) being included
If you type `"snapsh"` you can see a project called "Snapsh

[2015-12-09 16:03] astopy commented on #1546
First issue only seems to happen if you have admin mode turned on.

[2015-12-10 11:52] CKrawczyk commented on #1546
I am seeing "Snapshots at Sea" and I don't have admin access at all.

[2015-12-10 11:54] eatyourgreens commented on #1546
Same here, and I'm not logged in at all.

[2015-12-10 13:11] camallen commented on #1546
snapshots at sea is a public project, https://www.zooniverse.org/projects/tedcheese/snapshots-at-sea, we can add more restrictive search filters to only find launch_approved, etc flagged projects.

search is something we can work on, see for some details https://github.com/zooniverse/Panoptes/issues/1230

[2015-12-10 16:57] camallen commented on #1546
closed by #1547

[2015-12-10 16:57] #1546 closed

[2015-12-11 15:27] camallen commented on #1532
@mkosmala not so easy to edit that file together without a lot of back and forth. Any chance we could put it google docs or something and edit it together then put the finished version back to the above repo?

[2015-12-11 15:45] mkosmala commented on #1532
For sure. Don't know why I didn't think of that in the first place...
https://docs.google.com/document/d/1YMk6cx1pXBX5Y2PPL3cr08HkLTiNU8ldn0BaKeNRRms/edit

[2015-12-12 18:29] VVH opened #1550 "Longer sessions before forced logout"
A number of volunteers on transcription projects have asked whether we can increase the session time. See https://www.zooniverse.org/projects/zooniverse/shakespeares-world/talk/194/20869?comment=42965 for further discussion.

Possible solutions:

1. A session timer showing at the top of the page
2. A longer session (4 hours?)
3. no forced log out

[2015-12-12 19:33] camallen commented on #1550
The annotate/sw client should just set a timeout to refresh the token like the PFE client does [here](https://github.com/zooniverse/Panoptes-Front-End/blob/0f1823110594a9373dcf4082e88de970ab04f8f8/app/api/auth.coffee#L56).

[2015-12-12 19:33] camallen commented on #1550
Also we can extend the length the tokens are valid for but that increases the window that security breaches could be valid for.

[2015-12-15 17:26] camallen commented on #1415
rate limiter allows this since v0.1.0, see https://github.com/parrish/Sidekiq-Congestion/commit/32a851f94b16d574751c2252c70dd0c98a87becc

[2015-12-16 11:23] VVH commented on #1550
Thanks @camallen

[2015-12-16 13:31] VVH opened #1554 "Can't find existing user when adding collaborators"
Think this is a backend issue. Trying to add user jenmunroe as an expert and researcher to Shakespeare's World. There is a jmunroe but apparently that's not the right person. @camallen I know you've sorted out a few of these before and can maybe help again?

[2015-12-16 14:05] camallen commented on #1554
Got an idea on this @VVH hopefully get a solution soon. If you need this collab hooked up in the backend let me know.

[2015-12-16 14:48] tedcheese commented on #1531
@camallen we've seen this issue now once again, with workflow [9], where there are a few unretired images yet I and others are only getting retired images served up for https://www.zooniverse.org/projects/tedcheese/whales-as-individuals/classify. I'd **really** like to complete the classification of workflow [9], since they are almost done. The suggestion above that power users have classified all

[2015-12-16 14:50] aliburchard commented on #1531
could this be an issue where peoples' queues are built before the images are retired, but by the time they get to an individual image, it may have already been retired?

[2015-12-16 14:54] camallen commented on #1531
same issue as here but for workflow 9 this time. https://github.com/zooniverse/Panoptes/issues/1531#issuecomment-162008097 we'll get it fixed soon.

[2015-12-16 14:57] aliburchard commented on #1531
@tedcheese looks like it's the same issue as was happening on workflow 84 above, but is now happening on workflow 9. We* should be able to get this sorted today.

*We = our wonderful backend devs @camallen or maybe @marten -- I'm just trying to understand what's going on!

[2015-12-16 14:59] tedcheese commented on #1531
yay thanks for being on it!

[2015-12-16 17:04] marten commented on #1531
I'll pick this up tomorrow.

[2015-12-17 12:00] marten commented on #1531
@tedcheese I've reset the counts on workflow 9, could you double check that it's resolved?

[2015-12-17 14:50] tedcheese commented on #1531
Brilliant, looks good, thank you :)

[2015-12-17 14:50] #1531 closed

[2015-12-18 18:03] parrish opened #1558 "Project state"
This became an issue in #1552 and #1557.  Currently project state is managed as a combination of boolean fields on the project and role-based permissions.

This allows for all sorts of bungled settings like launch approved, but not requested; private, but launched; etc.

As I understand it, here's the current flows of project state:

Private -> Beta Requested -> Beta Approved -> Launch Requested -

[2015-12-21 05:28] tedcheese opened #1559 "Need to be able to see which files have been uploaded to subject sets"
I'm trying to upload large image collections to subject sets. Problem is, uploads sometimes fail and when they do, I have no tools to know where to start again. Issues:

* I understand that zooniverse is not 'aware' of duplicate files, so I need to avoid uploading the same file twice. This means I need to:
* (1) eliminate duplicates on some of my subject sets since for sure there were some duplica

[2015-12-21 10:33] camallen commented on #1559
Hi @tedcheese - firstly what was the problem with subject uploads? Did you network connection time out or something else?

We do really recommend keeping uploads sets pretty small for this reason. It's easier to track smaller failed batch sizes (especially if they are to uniq subject sets). How big were your upload batches?

You should be able to use the subject set export to resolve the state of

[2015-12-21 10:51] camallen commented on #1558
I think a state machine is a good idea. Just a few clarifications, The current flows of project state:

Private -> Can never request to be reviewed via the GUI. Private projects are for small teams that have data concerns and will never be "sponsored" by the zooniverse.

Public -> Beta Requested -> Beta Approved -> Launch Requested -> Launch Approved. You can never request / progress through any o

[2015-12-21 11:42] tedcheese commented on #1559
Thanks @camallen. I uploaded subjects in batches of ~200 to 800, but with multiple uploads to each subject set. I will make separate subject sets for each UL going forward.

Yes it seems that network issues contributed to the problem, since in the course of the few days of uploading I used several connections and when I had better connectivity I had less problems. But there were some odd ones alon

[2015-12-21 15:29] camallen commented on #1559
So have you got this sorted from a recent export? We can look at relaxing limits for these to be more than 1 per day.

Not much we can do with failed connectivity on the client as the client may not be able to cleanup properly (it does currently try to cleanup failed subject uploads as it goes). What kind of connection were you on?

[2015-12-21 19:59] tedcheese commented on #1559
Yes, just got a new report.There are 300 duplicates in the 2882 subject set. @aliburchard and @camallen will it cause an issue if I hard delete the entire subject set and upload anew?

[2015-12-21 21:13] camallen commented on #1559
As long as the subject set was never active for classifications. Also It'll affect your quota but we can bump that in light of this.

[2015-12-21 23:20] tedcheese commented on #1559
It tells me 'unauthorized' when I try to delete subject set 2882 I suppose because it was turned on as active, briefly, so there were some classifications. But so be it, no problem, I can upload to new subject sets the images that were in it and the ones missed in the process

[2015-12-22 15:23] camallen commented on #1559
Unauthorised sounds like you are logged out, can you try explicitly logging in and logging out again?

[2015-12-22 16:40] tedcheese commented on #1559
okay, didn't have to log out / log in, for whatever reason it let me delete the subject set this time. Thanks!

[2015-12-23 22:40] camallen commented on #1415
and relax the limiter for normal users, see #1559

[2015-12-23 22:40] #1559 closed

[2015-12-23 22:42] camallen commented on #1554
we need to be more restrictive when searching for usernames and not do fuzzy matching in postgres. When adding collaborators we should only search on login names and match these exactly.

[2015-12-23 23:33] camallen opened #1560 "remove unused columns"
Noting that SubjectWorkflowCount set_member_subject_id attribute this isn't being used anymore and confused my when i looked at the association *_ids vs attribute *_id, so best to remove this from the schema.

Also the subject_ids on classifications too.

[2015-12-23 23:40] marten commented on #1560
Best to first deploy a version that removes it from the models list of known columns so we dont get any failed requests or jobs

[2015-12-24 10:17] yshish opened #1561 "Drop down for the list of existing collections doesn't work properly"
I've started using Panoptes collections in big and noticed a bug:

When I click on the drop-down to open the list of existing collections, it closes immediately. It only stays opened as long as I keep the mouse button down on the drop-down arrow. Once I put my finger up from the button, the list closes/disappears. The only way to keep it opened is to click and hold the button down while moving the

[2015-12-24 10:19] yshish commented on #1561
I wanted to put it under front-end. Sorry.

[2015-12-24 10:19] #1561 closed

[2015-12-29 01:01] tedcheese opened #1562 "Upload issues creating new subject set"
I seem to be getting an error repeatedly at the same point, when I get to the 671st image uploaded to subject set 2892:

https://www.zooniverse.org/lab/14/subject-set/2892

I have run into this, oddly enough, repeatedly whether I upload 800 images at a time, or 600 in 100 image batches then another 100 etc etc.

<img width="317" alt="screen shot 2015-12-28 at 4 53 47 pm" src="https://cloud.githubu

[2015-12-29 07:46] mschwamb opened #1563 "Can I please get the subject ids in this collecton"
Can I please get the subjects in this collection: https://www.zooniverse.org/collections/planetaryscience/chois-comet-hunters-objects-of-interest ?

Ideally to add to the todo list would be a feature in the project builder to do this query so I don't have to ask for it. I don't actually know how to get the id for it since only the ascii name is released publicly, so I don't know how to access it t

[2015-12-29 11:25] camallen commented on #1563
@mschwamb you can get the collection id and subject ids via the API

Search for the collection via something like, `https://zooniverse.org/api/collections?owner=planetaryscience&search=CHOIs`

OR if you know the URL extract it's ID from it's URL `https://zooniverse.org/api/collections?slug=planetaryscience/chois-comet-hunters-objects-of-interest`

Or if you know the collection id:
`https://zoonive

[2015-12-29 11:25] #1563 closed

[2015-12-29 11:30] camallen commented on #1562
Strange, it's not subject limits (checked). I'm pretty sure this is related to local network issues but if it's always the 671st image upload then something funky could be up.

@tedcheese any chance you can send a screenshot of the browser console / network tab when this error is happening?That XMLHttpRequest error isn't very helpful but does indicate an error.

[2015-12-29 14:47] mschwamb commented on #1563
Thanks. I found the one for the id but not with the slug. Thanks.

[2015-12-29 15:19] tedcheese commented on #1562
Hmmm well it has allowed me to upload the rest of the set. Sorry, should have grabbed that browser console screenshot; will do so next time. This is the second time this issue has occurred, difference was that this time I had very good local network connectivity.

I've completed the upload and activated these new subject sets. Would you approve the project so that it's publicly visible again?

Hap

[2015-12-29 15:43] camallen commented on #1562
done re project approval. can you try and get more info the next time this happens?

I'm going to close this for now but feel free to re-open with more info.

[2015-12-29 15:43] #1562 closed

[2015-12-29 15:45] tedcheese commented on #1562
yes definitely will find out what I can next time. Thanks

[2015-12-29 15:51] #1373 closed

[2015-12-29 22:01] camallen commented on #1526
this is closed by 7776060b1146685e74dc223f6d5b4e36afbef868 - should be in production soon.

[2015-12-29 22:01] #1526 closed

[2016-01-01 08:19] mschwamb commented on #1554
I have a possibly related issue I can't write a private message to  [CThomas](https://www.zooniverse.org/users/CThomas). The search doesn't come up with their username. Is this the same issue?

[2016-01-01 15:54] camallen commented on #1554
@mschwamb if the search box returns a list that has entries but none match then this is the problem. It'll be fixed by #1565 when that gets deployed.

[2016-01-01 16:33] mschwamb commented on #1554
yep that was the behavior. thanks @camallen

[2016-01-02 01:07] mschwamb commented on #1069
Happening on Comet Hunters too - https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/84/25164?comment=51262

[2016-01-04 13:29] aliburchard commented on #1558
One small caveat to @camallen's flow above: projects often cycle a bit in the beta approved --> launch requested stage. After beta is approved, the project goes through beta testing, the project owners then make changes to the interface based upon the beta feedback, and then *currently* have to re-request beta. (This is because the act of taking a project out of "live" to make workflow changes ess

[2016-01-04 13:42] aliburchard commented on #1558
@parrish relevant conversation to the re-requesting beta problem here: https://github.com/zooniverse/Panoptes-Front-End/issues/2003

[2016-01-04 14:19] marten commented on #1538
mysql is gone now as per #1542

[2016-01-04 14:37] #1560 closed

[2016-01-04 14:44] marten commented on #618
Great discussion but not sure what the next task for this is wrt this codebase. Should we just close & archive this issue?

[2016-01-04 14:55] marten commented on #514
I'm going to close this, if someone needs it we can build it but let's not have this in our issue tracker until then.

[2016-01-04 14:55] #514 closed

[2016-01-04 14:56] camallen commented on #514
docker-compose has superseded this anyway, one can just specify the image instead of a build.

[2016-01-04 15:10] aliburchard commented on #618
@marten - in the interest of keeping the issues list clean, I think archiving/closing is okay for now. But I think @chrislintott @mrniaboc we should, in the next couple months (few weeks?) come up with a very clear policy for project builders. It's going to be hard to enforce higher levels of openness on projects built  with very vague expectations - so if we are going to enforce data being public

[2016-01-04 15:16] marten commented on #618
Maybe we need a blank repo for these types of policy discussions instead of binding it to a specific codebase.

[2016-01-04 15:16] #618 closed

[2016-01-04 15:24] #411 closed

[2016-01-04 15:25] marten commented on #411
Can't immediately see a feature that would make the patches redundant.

[2016-01-04 18:55] #1554 closed

[2016-01-05 14:25] camallen opened #1571 "workflows are not auto finishing"
Workflow counts show the project is finished but the `finished_at` flag is not being set, most likely due to the transaction block [here](https://github.com/zooniverse/Panoptes/blob/4db3fca4e7fb9ab644826437c7ffc057fe36d241/app/workers/retirement_worker.rb#L11).

[2016-01-05 14:27] camallen opened #1572 "retirement counters dont' take into account unlinked data"
as happened on snapshots as sea, the workflow finished and finished counts matched the subjects count but then the owner unlinked all the active sets and added new ones. This left the retired counts much larger and counting old data that wasn't currently active compared to an arbitrary number of currently linked active subjects.

[2016-01-05 14:33] marten commented on #1572
Maybe we could count active subjects, and retire/finish a workflow when that number hits 0, instead of when #retired > #total

[2016-01-05 14:38] camallen commented on #1572
i was thinking about not using a counter at all and running a query on active linked subjects / SWC's to see if any aren't retired.

[2016-01-05 14:39] marten commented on #1572
Yeah we could just do that in a rate-limited worker.

[2016-01-05 14:40] camallen commented on #1572
as long as we always use this in a worker, else you count down solution looks neat.

[2016-01-05 15:17] camallen commented on #1554
@VVH @mschwamb for reference, this is now deployed and working.

[2016-01-05 15:21] brian-c opened #1573 "Query for subjects based on filenames"
I need to get a subject's ID given only the filename of its image (The ability to search by any metadata would be a huge bonus, since I think the only standard way we store this is actually on the Media resource).

Maybe something like `/subjects?metadata[filename]=foo.jpg` would be cool?

The goal here is to be able to generate gold standard classifications JSON given a CSV that only has filename

[2016-01-05 15:25] brian-c commented on #1573
Cc: @mrniaboc

[2016-01-05 16:39] camallen opened #1574 "fix the postgresql_selection_spec.rb"
it's all busted mostly cause i used before all blocks to speed up data set testing but it was a bad idead and it's not easy to test the sliding window selection as referenced [here](https://github.com/zooniverse/Panoptes/pull/1569#issuecomment-169013712).

[2016-01-05 16:40] brian-c commented on #1573
We figured something else out.

[2016-01-05 16:40] #1573 closed

[2016-01-05 19:39] camallen opened #1575 "filter roles by role name in conjunction with resource id / type"
allow the project builder page to filter the resource (project) roles by the resource_id, resource_type but only look for roles of interest, e.g. the collaborator / owner roles.

[2016-01-06 10:57] camallen commented on #1330
I'm not sure we can use this with filtering for workflow / set id's like what we'd need to support.

[2016-01-06 10:59] camallen commented on #695
I don't think this will be worth it long term due to performance issues with the JRuby Active Record gem and supporting the different runtime env.

[2016-01-06 10:59] #695 closed

[2016-01-06 17:04] camallen opened #1578 "optimize the unseen / non-retired subject selection query"
make it faster, better stronger than before.

[2016-01-06 17:06] camallen opened #1579 "requeue when empty on selection"
when the queue is empty and a selection query comes in, also if the queue is empty just use the fallback selection and avoid running expensive queries in band.

[2016-01-07 11:04] #1517 closed

[2016-01-07 18:29] camallen opened #1586 "raise no data error when none to select from"
subject selector should raise no data error when there is no workflow data to select.

[2016-01-07 18:51] camallen commented on #1578
should have been closed by #1583

[2016-01-07 18:51] #1578 closed

[2016-01-07 19:10] camallen commented on #1579
be careful to not requeue the data that we just sent out to get classified or else the user will most likely end up with them in the queue before the user seens are made for them (when the classifications come in).

[2016-01-07 19:11] camallen commented on #1571
or the workflow hasn't reloaded and the sum count is off.

[2016-01-09 10:10] mschwamb opened #1591 "no already seen banners or flags coming up for classifiers on Comet Hunters"
Might be important for stargazing - At least one user is done with the images we have on the site, and says he's getting duplicates. It appears to be that he's not getting the banners when the data for him is complete.

https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/211/19110?comment=55111

[2016-01-09 11:31] marten opened #1592 "Move Cellect notifications to own workers"
That way they can keep retrying until Cellect gets back up, while the rest of the callbacks and postprocessing happens just fine on the Panoptes side. This involves pushing seen-subjects and retirements.

[2016-01-09 11:37] camallen commented on #1592
Good idea, agree that the main workers should not be blocking on cellect. We can have a low retry limit on them too if cellect is down / busy. panoptes can just move on as the next time cellect loads it'll get the fresh data.

I made a retire cellect worker yesterday that we can use from the retirement worker.

[2016-01-09 11:40] camallen opened #1593 "Lifecycled at worker should have a window period"
They should not pickup currently queued but not lifecycled, so a delay of like the last 15 mins or so should fix it. We could also skip re life cycling if the field is present.

[2016-01-09 11:41] marten commented on #1593
Good point.

[2016-01-09 15:51] camallen commented on #1591
Looks like the user seens are in place and they have exhausted all the data. Are you sure they aren't seeing the banner saying reitred / already seen? Be good to track this down, as it looks like the api is returning the correct data.

We did have a few issues over thu / fri that may have slowed the creating of the user seens tracking ids that may have led to them not seeing the banner, but i can

[2016-01-09 16:13] mschwamb commented on #1591
Is it both users that seen all then available data because there are 7000 subjects live. WEBs_in_space is claiming duplicates as well and see less than half the data. I can confirm because there are two talk posts in places like [this](https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/210/27107?page=1&scrollToLastComment=true)

[2016-01-09 16:14] mschwamb commented on #1591
I've also posted and waiting for a reply about the orange banner.

[2016-01-09 17:57] camallen commented on #1591
No only CThomas. WEBs_in_space has only seen 1528 subjects so should not be getting duplicates but it could have been the issue I described above (i.e. we didn't have the tracked subject ids in the db). Make sure they have refreshed the page or logged out / in again, to ensure they have a real session since if the user is unknow we just keep showing the latest non-logged in queue data.

[2016-01-09 18:04] #1592 closed

[2016-01-09 23:57] #1593 closed

[2016-01-11 11:34] mschwamb commented on #1591
@camallen got a reply - CThomas doesn't see any flags or notifications. So the front end appears to not be showing banners on the images when duplicates are being shown when you've completed all the data. I was clear and asked about any orange banners. He said he's seen nothing. So I don't think he's just missing or not understanding the banner, I think its not there.

[2016-01-11 11:36] mschwamb commented on #1591
@camallen also let me know if you want me to bring this up on the front end ?

[2016-01-11 18:12] camallen opened #1599 "publishing to down kafka / event streams"
@marten Should we move them to background workers that can fail at will? instead of possibly delaying the lifecycle events due to busted zookeeper  / network connections?

[2016-01-11 20:09] camallen commented on #1579
this may well have been taken care of with query optimisations and the fallback selection strategy until a requeue event is triggered from classification data coming in.

[2016-01-11 20:38] #1586 closed

[2016-01-12 14:51] #1599 closed

[2016-01-12 16:18] alexbfree opened #1605 "Can't see own classifications for a project via API when i am a tester on that project"
My user ID is 209
The project ID for Pulsar hunters is 764, and workflow 1224
For this project, I am a tester. I am also a general PFE admin but I have admin mode switched off.

When I type `zooAPI.type("classifications").get({"project_id":764}).then(log);` in the JS console, I get no classifications returned.

Similarly when I hit a URL such as `https://panoptes.zooniverse.org/api/classifications

[2016-01-12 16:23] alexbfree opened #1606 "Incorrect HTTP response code when headers are missing"
When querying the Panoptes API, as we know the headers
[code]
need to be specified.

However if you miss them off, it gives 404 NOT FOUND. Which as far as HTTP status codes go, is quite inaccurate.

The response should probably be 415 UNSUPPORTED MEDIA TYPE - see http://stackoverflow.com/questions/11461037/appropriate-http-status-code-for-request-specifying-invalid-content-encoding-hea for discuss

[2016-01-12 16:47] camallen commented on #1606
that media type is supported but that route isn't so it's a 404, from memory. We have a bunch of normal `text/html` routes that this request could be matching.

[2016-01-12 16:50] camallen commented on #1605
This seems to be the classification `scope_for` method not returning data unless you're a collab / owner for the index show routes. It should really be returning the classifications that the user has contributed to the specified project.

[2016-01-13 14:21] camallen opened #1614 "remove subject.rb default scope"
see if we can get rid of this...it complicates query plans on all sorts of associations where it's not used.

[2016-01-13 22:11] camallen opened #1623 "fix locking counter updates"
related to this, we need a better way to keep counters in sync https://github.com/zooniverse/Panoptes/pull/1621

[2016-01-13 22:14] camallen opened #1624 "fix removal from queues on retire"
Figure out a way to not update all the queues at once. Alternatively we could just leave them in there and allow them to drain naturally or we could remove from the serialized response on selection similar to how we do the current seen context.

Any thoughts on this one appreciated.

[2016-01-13 23:02] camallen commented on #1624
Check if the subject is in the queue still before issuing a dequeue. https://github.com/zooniverse/Panoptes/pull/1625#issuecomment-171463494

[2016-01-13 23:08] parrish commented on #1624
I think both is a good option.  Just do a quick ruby `.select(&:active?)`.  I guess that could put you in the position of having to refill the queue mid-request though.

[2016-01-14 14:14] camallen opened #1628 "retire subject route params"
allow subject id string / integer and arrays. Return a better response code for invalid retire params.

[2016-01-14 14:15] marten commented on #1623
Fixed by #1626

[2016-01-14 14:15] #1623 closed

[2016-01-14 14:16] marten commented on #1614
:+1:

[2016-01-14 21:49] camallen opened #1635 "workflow retire route skip if already retired"
check if it's already retired and skip if it is..

[2016-01-16 12:02] mschwamb opened #1636 "Cannot upload subjects through the project builder - Getting 500 server errors when trying to upload subjects"
I didn't have this issue Friday night, but today I am. Tried creating a new subject set. I'm below my limit for uploading subjects supposedly. I tried making a new subject set. That didn't work either. This was for Planet Four: Terrains. It says Error: 500 Internal Server Error on the upload screen

But I also tested this on a separate project builder project (id = 264) and I get the same issue. N

[2016-01-16 12:05] mschwamb commented on #1636
I should note this is happening while I'm on my work wired internet

[2016-01-16 12:09] mschwamb commented on #1636
Looks like it gets through 1-2 images and then just dies with the 500 error.

[2016-01-18 10:34] marten commented on #1636
Seems like one of our web servers was misbehaving. I've restarted it and I can upload a bunch of images just fine now.

[2016-01-18 17:37] eatyourgreens commented on #1386
Bumping this one as I've run into it while generating subjects for the Wellcome Library project. Subjects for project 396, workflow 215 seem to be coming back in the order that the SMS links were created, not the order set by the priority field.

[2016-01-19 16:20] vrooje opened #1637 "classification exports: any way to have subject ID passed differently?"
In the classification export files, is there any chance of getting the subject data JSON to be like:
`{"subject_id":1234567, "retired":{[stuff]}, "owner_given_data1":"value1"...}`
instead of
`{"1234567":{"retired":{[stuff]}, "owner_given_data1":"value1"...}}`
if possible? This structure makes it more difficult (and also slower in the otherwise-very-fast framework I'm using to analyse classificatio

[2016-01-19 16:26] mkosmala commented on #1637
I haven't been writing code that needs speed (yet), and am all for making the data structure easier to use. Seems like ```"subject_id":1234567``` is more canonical JSON anyway. I can't think of a reason the current implementation would be more generally useful. I might have to tweak a couple scripts to accept the new format, but am happy to do so.

[2016-01-19 16:32] khufkens commented on #1637
I'm not processing bulk data yet so this is doesn't apply to me. However, a
strict JSON implementation would be favoured.

Cheers,
K

On 19 January 2016 at 17:26, Margaret Kosmala <notifications@github.com>
wrote:

--
Dr. Koen Hufkens

Harvard University
Department of Organismic & Evolutionary Biology
Richardson Lab <http://www.oeb.harvard.edu/faculty/richardson/>

@koen_hufkens - www.khufkens.com

[2016-01-19 17:04] aliburchard commented on #1637
I still haven't fully tackled the JSON obstacle, so haven't really had to deal with this yet, but would be in favor of a consistent structure.

[2016-01-19 17:34] camallen commented on #1637
The current format is valid JSON for reference 1 big object vs an array of individual objects. We can modify the exports to be an array of objects instead of the current subject id attribute data value, code [here](https://github.com/zooniverse/Panoptes/blob/b81d2dbfa423d4c9020717ff879e435ec3e29be5/lib/formatter/csv/classification.rb#L46) for ref.

Just for reference, projects may have multiple su

[2016-01-20 10:20] camallen commented on #1637
Will this problem be solved by moving to a straight csv format as per #1553?

[2016-01-20 10:24] khufkens commented on #1637
csv flat files would work even better for me. In R JSON still is a jungle.

On 20 January 2016 at 11:20, Campbell Allen <notifications@github.com>
wrote:

--
Dr. Koen Hufkens

Harvard University
Department of Organismic & Evolutionary Biology
Richardson Lab <http://www.oeb.harvard.edu/faculty/richardson/>

@koen_hufkens - www.khufkens.com
Find the Rhythm of Tropical Trees - www.junglerhythms.org

[2016-01-21 11:05] aliburchard commented on #1637
Indeed, R doesn't have viable JSON support (even though technically you can read it in, it's pretty pointless to do). #1553 would certainly solve the issue -- but what's the timeline for implementing that?

[2016-01-21 11:12] camallen commented on #1637
@aliburchard have you checked this one out? https://cran.r-project.org/web/packages/jsonlite/index.html. Looks like it was released late last year, 2015-11-28.

[2016-01-21 11:37] vrooje commented on #1637
I think a flattened csv would definitely solve all of this - I was assuming the timeline for that was long enough for an interim solution (if it's quick) to be useful!

You're right that I still currently have to use a for loop to parse things from all the JSONs:
`classifications['meta_json'] = [json.loads(q) for q in classifications.metadata]`

but while those aren't exactly fast, the direct meth

[2016-01-21 12:28] astopy commented on #1637
I'm not sure I understand why you're turning the dict into a string. Wouldn't parsing these just be a case of doing something like:

[code]

Or am I missing something?

Also, as a side note if you're not already using [ujson](https://pypi.python.org/pypi/ujson) you'll probably get a big speed boost from switching to that.

[2016-01-21 14:12] aliburchard commented on #1637
@camallen yeah -  the issue is that all R-JSON packages (including the one above) convert the JSON to R objects (lists, arrays, etc) instead of actually maintaining the JSON itself. And since our JSON blobs are pretty complex, that turns into lists embedded in lists embedded in lists in R, which is just really hard to work with.

[2016-01-21 14:31] vrooje commented on #1637
@astopy I've been using pandas.read_csv() to read the classification exports, which reads the json columns as strings that I then parse via json.loads. For the end goal of my script pandas is *much* faster than other methods I've tried - actually the whole of weighting and aggregating takes about the same amount of time as parsing the various columns with these loops. I will definitely look into u

[2016-01-22 04:45] mschwamb commented on #1637
I just spoke to the Comet Hunters PI and he sends the output from the Talk output (which is in json) through an online json to csv converter and then looks at it excel. He took a look at the csv from the classifications and couldn't understand it because of the json format, and so I do think having a flattened csv would be better option for many science teams. Currently it is now my job will be to

[2016-01-22 06:36] mschwamb commented on #1636
Yeah that seems to have fixed it. Thanks. Though I get other errors as I upload batches of 25 subjects at different intervals, but I can get stuff uploaded. Will open tickets for the other errors when I understand how I'm getting them.

[2016-01-22 06:36] #1636 closed

[2016-01-25 10:46] aliburchard commented on #1069
@camallen this seems to still be popping up on Wildcam Gorongosa - had a whole bunch reported mid/late December, and at least one person reported this week: https://www.zooniverse.org/projects/zooniverse/wildcam-gorongosa/talk/79/7125?page=3

[2016-01-25 11:58] camallen commented on #1069
thanks, there was a bug showing the proper already seen / retired tags from teh API that got fixed in SGL.  Also some of the issues in SGL would be leading to duplicates showing under heavy api loads.

We've got new code out to fix these and some more to get out that will hopefully alleviate this.

[2016-01-25 12:21] marten opened #1639 "Workflows should auto-unfinish"
* Adding subjects to a subject_set should trigger a check on all associated workflows.
* Adding subject_sets to a workflow should trigger a check on that workflow.
* Checking that workflow should basically do: `if workflow.retired?; workflow.finished_at ||= Time.zone.now; else; workflow.finished_at = nil; end`

Labelling this as a bug because we're basically forgetting to invalidate caches here.

[2016-01-25 12:24] camallen commented on #1639
linked to #1384

[2016-01-25 16:07] mkosmala opened #1640 ""Already seen" banners driving volunteers crazy"
Not sure if this is a back-end or front-end issue, so posting here and mentioning both @camallen and @brian-c (and @aliburchard too).

I've gotten a message on Talk for Season Spotter Questions saying that a user has been seeing "finished" on the images:
https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/60/35704

Slightly more than a third of the images are retired, so we a

[2016-01-25 17:08] camallen commented on #1640
@mkosmala this may happen under certain circumstances. If everything is finihsed or they have seen everything or mostly by chance when the users queues are empty and we just try and show them something (anything), see [here](https://github.com/zooniverse/Panoptes/blob/4d6a34f22950c05db4db4df275a6e5a6e25593ba/lib/subjects/selector.rb#L62).

Can you ask the user if this is still happening for them?

[2016-01-25 18:35] mkosmala commented on #1640
"when the users queues are empty and we just try and show them something (anything)"

Just trying to understand this... why would a user's queue be empty? Wouldn't you then grab a new set of subjects?

(Sorry to harp on this. We lost so much momentum with the problems at launch -- including users getting "finished" messages then -- that I want to make sure this problem is as minimized as possible

[2016-01-25 23:18] camallen commented on #1640
When you load the classify page the api returns 10 subjects from the queue. The default queue length is now 20, so two page loads (Ctrl + R) would deplete the queue. We only rebuild the queue on classification receipt to avoid repopulating with what we've just sent out (we haven't got updated state about what images a user has seen in the db until we get a classification for it).

So under normal

[2016-01-26 17:40] mschwamb opened #1643 "Able to request subject csv twice in a 24 hour period"
1/25/16 3:40 AM GMT
and
1/25/16 9:05 PM GMT

for Planet Four: Terrains. I accidentally hit it thinking my 24 hours were up. Then realized it wasn't and still got the email. It was two separate days in my time zone, but I assumed that the clock reset with GMT

[2016-01-28 16:14] camallen opened #1644 "add hidden state field to project roles"
Linked to https://github.com/zooniverse/Panoptes-Front-End/issues/2151

Allow roles to be hidden from default views, I assume the UI would just ignore roles with the hidden state for display but use them making access control decisions.

[2016-02-01 17:04] brian-c opened #1646 "Fetching owned projects gets a 500"
GET `/projects?current_user_roles=owner` gives me a 500.

`/projects?current_user_roles=collaborator` returns all the right projects, and `/projects?current_user_roles=owner,collaborator` is right too.

Sorta oddly, `/projects?current_user_roles=owner,temporary_workaround` actually returns just the owned projects, so I've got this as a temporary workaround (no rush).

[2016-02-01 17:21] brian-c opened #1647 "Projects do not return sorted"
I expected `/projects?sort=display_name` to sort by display_name, but no dice. I coulda sworn I've done this before, do I have the syntax wrong?

Browser console one-liner: `zooAPI.type('projects').get({sort: 'display_name'}).then(ps => ps.map(p => p.display_name)).then(log)`

[2016-02-02 09:09] aliburchard commented on #1069
@camallen just wanted to let you know this is still happening: https://www.zooniverse.org/projects/zooniverse/wildcam-gorongosa/talk/79/7125?comment=74235&page=4

[2016-02-02 11:12] marten commented on #1379
Fixed sometime during SGL.

[2016-02-02 11:12] #1379 closed

[2016-02-02 11:35] camallen commented on #1069
Hmm - seems the messaging about already seen / retired was removed at the end of last month. See this, https://github.com/zooniverse/Panoptes-Front-End/issues/2170. I can only hope we aren't messaging correctly.

I'm checking this user details to see what's happening.

[2016-02-02 15:49] camallen commented on #1647
we have to activate the sort fields in the api serializers, e.g. [here](https://github.com/zooniverse/Panoptes/blob/dacb4af7250534fa7d4d6b2af103ce4c0d4c2bcc/app/serializers/project_serializer.rb#L23).

Do you want just `display_name` or other fields as well?

[2016-02-02 16:31] camallen commented on #1646
I'm able to reproduce, looking into a fix.

[2016-02-02 19:11] brian-c commented on #1647
Just `display_name`'d be great, thanks!

[2016-02-03 20:04] marten opened #1649 "Hashing in dumps in theory not strong enough"
[This line](https://github.com/zooniverse/Panoptes/blob/master/lib/formatter/csv/classification.rb#L18) means that the search space for a salt is pretty limited. And since it's pretty easy to know both the unhashed and hashed version of your own IP, you can feasibly search for the salt.

[2016-02-03 20:12] amyrebecca commented on #1647
This is actually in the PR that revamps the project page, it was one of the
things that we worked on at mini ztm. you probably saw it working this way
in our preview builds.

On Tue, Feb 2, 2016 at 1:11 PM, Brian Carstensen <notifications@github.com>
wrote:

--

SPACE IS FREAKING AWESOME

[2016-02-05 14:57] #1647 closed

[2016-02-05 14:58] #1649 closed

[2016-02-06 20:15] tedcheese opened #1657 "Aggregation export does not appear to be working"
In the last two days I've thrice requested an aggregation export from Snapshots at Sea https://www.zooniverse.org/lab/14/data-exports

I've received no email notification, and when I download the aggregation, the results are from 12 January when I last did so :(

[2016-02-06 20:23] aliburchard commented on #1657
@ggdhines can we get a manual aggregation export? (And also fix this so it works?) but we need to put results up from this workflow before moving onto the next one. Thanks!

[2016-02-07 12:45] ggdhines commented on #1657
I've sent Ted the results from manually running the code. We need a way to notify people when there has been an error with their run. That said, I've checked rollbar (where I can see errors) and don't see anything in the last couple of days.

[2016-02-07 12:45] #1657 closed

[2016-02-07 12:55] ggdhines commented on #1657
Figured out why the error message was not showing up for me. See commit d283b60.

[2016-02-07 13:31] marten opened #1658 "Add API call to signal dump failure"
This should send an email to the requester notifying them that something went wrong.

From #1657

[2016-02-08 11:24] camallen commented on #1658
and put an error state into the medium metadata too.

[2016-02-08 11:42] marten commented on #1658
Yeah I was wondering if an error should make the last successful run unavailable though, or if we should have last_success_at and last_error_at or something?

[2016-02-08 18:15] #1646 closed

[2016-02-09 15:11] mkosmala commented on #1640
We've just had another occurrence with a different user:
https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/62/38418

It seems like it's not easily reproducible. But it also seems like it's happening too often to be due to heavy loads. It's *really* confusing our users. I know this sort of issue is really hard to figure out, but it worries me.

I'm thinking about the classif

[2016-02-09 16:20] camallen commented on #1640
It's mostly an issue of timing and how we process the data could leave subjects that the user has seen in the queue. When we serve them out we mark them as seen (so the flag comes up). We chose to still serve them instead of removing to avoid the case where all that is in the queue has been seen before and they get no data. We could be smarter about how we handle this in the client for sure.

Real

[2016-02-10 12:41] mschwamb opened #1661 "Noticed II'm getting finished images on Fossil Finders but there's no message saying data is complete"
If I'm logged in and seeing finished images, shouldn't the site be putting up the gone through all the data message for the logged in user?

<img width="1099" alt="screen shot 2016-02-10 at 8 38 57 pm" src="https://cloud.githubusercontent.com/assets/753325/12947477/911e7808-d036-11e5-9223-ee902a728774.png">

[2016-02-10 14:13] camallen commented on #1661
Looks like the non-logged in queue is getting stuck with retired data, I'm looking into it. @mschwamb was this the first time you've classified on this project or first time back in a while?

[2016-02-10 14:29] mschwamb commented on #1661
@camallen Looks like I've never gotten through a full classification on this project.  I was logged in, in case that matters.

[2016-02-10 14:29] camallen commented on #1661
Seems your queue was created a while back and had old data sitting in it. In the meantime that data was processed...

[2016-02-10 14:32] mschwamb commented on #1661
Right, I've visited a while ago and came back to check it out. Shouldn't the queue reload upon coming to the project site?

[2016-02-10 16:39] eatyourgreens opened #1664 "Updating OAuth apps fails with a 422 error"
Updating the details of an app (`redirect_uri` in this case) POSTs to `https://panoptes.zooniverse.org/oauth/applications/{app_id}` which returns `422 Unprocessable Entity`

Here's the form data, if it helps (minus the authenticity token)
[code]

[2016-02-10 16:47] camallen commented on #1664
Looks like Doorkeeper requires secure redirects now, https://github.com/doorkeeper-gem/doorkeeper/blob/master/spec/validators/redirect_uri_validator_spec.rb. Will fix manually and look into some better form handling for this.

[2016-02-10 16:51] eatyourgreens commented on #1664
Looks like Gorongosa and Shakespeare's World have `http:` redirects too.

[2016-02-10 16:52] camallen commented on #1664
yeah - they were created before this change in the lib we use came in.

[2016-02-10 16:59] eatyourgreens commented on #1664
Ok, so we need to upgrade Wildcam and Shakespeare to `https`, including any content they load, then fix the redirect URIs.

[2016-02-10 17:10] camallen commented on #1640
Linking #1661 - since it could be the same issue, stale data (that has been retied) is still in the queue.

[2016-02-10 17:11] camallen commented on #1661
If there is data in the queue it just uses that. Reloading the page a few times would empty your queue, it'll only refill when you've supplied a classification, I'll be looking into some queue rebuild work in #1624. I'll take into account tracking stale queue data somehow and look at flushing / ignoring it.

[2016-02-10 17:18] camallen commented on #1579
closing this as the current db query optimizations work ok, will re-open if needed.

[2016-02-10 17:18] #1579 closed

[2016-02-10 17:24] camallen commented on #1624
- [ ] Move to ruby land queue updates that touch the updated_at timestamp (track old queue updates)
- [ ] Avoid retire dequeue contention, just leave them in the queue and remove them when serializing or serialize with the finished context (current).
- [ ] Look at flushing / ignoring stale queue data (older than 1 day?)

[2016-02-10 18:43] mkosmala commented on #1640
Another one: https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/62/38796

[2016-02-10 18:44] mkosmala commented on #1640
Any chance you could remove 'already seen' subjects from the queue, and if the queue is empty, simply say something like, 'hold on, we're getting more images for you.'

[2016-02-10 20:25] marten commented on #1624
That last point, do you mean deleting queues that have not been read from for a day? That sounds like a plan.

[2016-02-11 03:46] mschwamb commented on #1661
@camallen Especially from newsletters, you'll get people who haven't classified in a long while, so I think this would come up in that scenario. Thanks for looking into it.

[2016-02-11 09:30] astopy commented on #1664
I was planning to do this soon for our custom panoptes projects anyway, so I’ll move that to the top of my list.

[2016-02-11 09:43] camallen opened #1665 "HATEOS - As per docs create descriptive entry point"
As per HATEOS (and our docs apparently), hitting the `/api` should describe the resources that the api serves,  see for details: http://docs.panoptes.apiary.io/#introduction/headers

[2016-02-11 10:21] camallen commented on #1665
- [ ] Detect the /api/* route
- [ ] and return a json formatted list the V1 supported resources
- [ ] Check it doesn't break the current catch all route [here](https://github.com/zooniverse/Panoptes/blob/743d99ac02ee397ba73862c8cc987e8c28b586ab/config/routes.rb#L116)

[2016-02-12 16:50] camallen opened #1667 "Handle invalid domain names on welcome mailer worker"
Handle Net::SMTPFatalError error in for invalid domain names. also pdate the valid_email field to false when doing so.

[2016-02-12 17:22] camallen commented on #1624
I wasn't going to delete them per se but maybe just empty them. Might be an idea to remove them altogether.

Linking #1661 & #1640 here for ref.

[2016-02-12 17:23] camallen commented on #1640
@mkosmala see #1624 for details and yes we could be better on the client about this, just asking for more data (until the workflow is finished) would fix this.

[2016-02-15 14:13] #1667 closed

[2016-02-15 15:16] camallen commented on #1386
@eatyourgreens how pressing is this issue?

[2016-02-15 15:20] eatyourgreens commented on #1386
@camallen Fairly urgent. Wellcome would like to start beta testing next week.

[2016-02-15 15:22] camallen commented on #1351
Closing this for now, happy to re-open if reports come in again.

[2016-02-15 15:22] #1351 closed

[2016-02-15 17:14] khufkens opened #1670 "Feature request: Adding annotation image size"
Would it be possible to put the image size of the image on which the annotations were made into the classification metadata somewhere?

The currrent python notation for coordinates is python / matlab style (image coordinates 0/0 start top left). However, the raster library in R uses standard Cartesian coordinates (0/0 bottom left). This can be a huge source of confusion - or error if one does not

[2016-02-15 17:21] camallen commented on #1670
@brian-c didn't we have this info coming into the classification a while back?

[2016-02-15 17:26] brian-c commented on #1670
Wow, yep, but it looks like it got totally screwed up at some point. I'll look into this.

<img width="326" alt="screen shot 2016-02-15 at 11 25 01 am" src="https://cloud.githubusercontent.com/assets/464389/13055766/d037109c-d3d6-11e5-9ba6-0b4f18c97e85.png">

[2016-02-15 17:27] camallen commented on #1670
great, thanks

[2016-02-15 17:29] khufkens commented on #1670
Thanks, it would be really helpful to have it in there in some accessible way.

[2016-02-15 19:25] #1670 closed

[2016-02-16 11:49] alexbfree commented on #1391
+1 to this, v useful for serengeti

[2016-02-16 12:00] camallen commented on #1391
@brian-c what's the status on this, are you doing this client side or still need api support?

[2016-02-16 15:58] rogerhutchings opened #1673 "Adding X-Frame-Options headers to permitted URLs in Doorkeeper"
Canthe Panoptes OAuth sign in pages have `X-Frame-Options` headers set to `ALLOW-FROM` for authorised URLs?

Use case: I'm working on an OAuth module for [panoptes-javascript-client](https://github.com/zooniverse/panoptes-javascript-client) which refreshes the bearer token via an iFrame before it expires. The benefit is that it doesn't require subsequent page redirects once a user has initially au

[2016-02-16 16:02] astopy opened #1674 "Disallow non-https subject image URLs"

[2016-02-16 17:01] mkosmala commented on #1640
Another one: https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/62/39620

[2016-02-16 17:39] camallen commented on #1640
thanks @mkosmala - i've been sidetracked with fixing something for a soft launch. Hope to get to this soon (happy to accept / work on a PR with you).

[2016-02-16 17:53] camallen commented on #1673
We've done similar things in the past, check [here](https://github.com/zooniverse/Panoptes/blob/9678d8a3ccb3d607340add6af9361993698cca0f/config/cors_config.yml.hudson#L4). We need to update the prod configs and the .hudson config for panoptes dev versions.

[2016-02-16 23:28] brian-c commented on #1391
On hold for now, might be replaced by the combo task.

[2016-02-17 10:13] camallen commented on #1391
I'm closing for now, @brian-c re-open if/when you need api support for this.

[2016-02-17 10:13] #1391 closed

[2016-02-17 11:15] alexbfree commented on #1391
@brian-c what is the combo task? is there anything you can link me to to find out about that?

[2016-02-17 13:18] eatyourgreens commented on #1391
@alexbfree have a look at zooniverse/Panoptes-Front-End/pull/2137 for the combo task.

[2016-02-17 13:21] alexbfree commented on #1391
Thanks Jim

[2016-02-17 13:30] camallen commented on #1673
@rogerhutchings have you tried this in a popup instead of an i-frame?

[2016-02-17 13:34] rogerhutchings commented on #1673
No - I figured a hidden iFrame would be less disruptive for users than a popup that suddenly appears / disappears every time you need to refresh a token. Also, I can imagine people getting freaked out by this kind of non-standard behaviour as well ("Have I been hacked?")

[2016-02-17 13:35] camallen commented on #1673
What if the original auth window was a popup based one? Pretty sure this exists for other oauth setups.

[2016-02-17 13:38] eatyourgreens commented on #1673
Pretty much every browser now blocks popups unless they're initiated by a user action, so people would have to click on a button or something to refresh their token, I think.

[2016-02-17 13:40] camallen commented on #1673
thanks @eatyourgreens good call.

[2016-02-17 13:46] eatyourgreens commented on #1673
Can we expire the token based on when it was last used, rather than when it was issued, or is that a security issue?

I'm thinking of sites like my bank, which displays a message saying "You've been inactive for x minutes. You'll be automatically logged out unless you click this button to continue."

[2016-02-17 14:58] camallen commented on #1673
we could but we'd have to implement that, default implementation from the lib we're using is expires_in and created_at so not tracking the last use access.

[2016-02-17 15:00] eatyourgreens commented on #1673
No problem, maybe we just show a dialog in a div that says "Hey, you've been on our site for 2 hours, time for a break?" :)

[2016-02-17 15:01] camallen commented on #1673
we're going to try the x-frame-options header for whitelisted sites..this should allow the access_token to be renewed without interrupting the user after the time period.

[2016-02-17 16:07] rogerhutchings commented on #1673
You don't actually get passed back `created_at` as part of the query params, I've been faking it with `Date.now()` but it's probably not very accurate

[2016-02-18 20:54] mkosmala opened #1677 "User getting annoyed by many "already seen" and "finished" banners"
This is really just a follow on to #1640, but it seems like it is not an occasional problem, at least for some users, but rather a common one.
https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/62/39930

[2016-02-18 20:54] mkosmala commented on #1640
@camallen I'd be happy to help, but I don't really understand the queuing system. I think I'm going to have to leave this one to you guys.

[2016-02-18 21:02] camallen commented on #1677
It's high on our list @mkosmala see #1676

[2016-02-18 21:03] mkosmala commented on #1677
Super!

[2016-02-18 21:03] camallen commented on #1640
linking #1676 - the plan is to refactor / clean up the queueing code and then look at ignoring stale (hours old) queues to only buffer data for classification sessions and empty them if they are old.

[2016-02-19 17:04] camallen opened #1679 "ignore stale queues during selection"
related to #1676, #1661, #1640, #1677

now we're touching update_at just ignore any queues that are a more than an 30 mins old

[2016-02-20 12:19] VVH opened #1680 "Subject from other project showing on Shakespeare's World Talk"
This subject has popped up a while ago (mid-December) and seems to be from another project entirely. Maybe it's because the subject name is the same as something in our subject set? The metadata fields otherwise have nothing in common with our subject metadata. I wonder if this something we need to look into though. If subjects have the same name in different projects, can the API accidentally ser

[2016-02-21 23:29] mschwamb commented on #1680
@VVH The thread from this is on the front end. It was fixed and then cropped up again when I saw your posts on Planet Four: Terrains Talk  https://github.com/zooniverse/Panoptes-Front-End/issues/2210

[2016-02-22 11:52] camallen commented on #1680
@parrish can you have a look at this, might have been related to this https://github.com/zooniverse/Panoptes-Front-End/issues/2210 but i'm not sure how.

[2016-02-22 11:55] marten commented on #1680
Note: On the Panoptes side this is definitely just in Planet Four's sets.

[2016-02-23 11:48] #1386 closed

[2016-02-23 19:05] parrish commented on #1680
We previously had an issue with the front end routing breaking some of the app.  I'm pretty sure this is just a side-effect from before that was fixed -- the comment was created in December.

[2016-02-23 19:05] #1680 closed

[2016-02-23 22:57] camallen commented on #1673
Closing this as it wasn't needed for the solution. Freel free to re-open if we need it again.

[2016-02-23 22:57] #1673 closed

[2016-02-23 23:03] camallen commented on #1640
@mkosmala FYI - #1676 was deployed today. I'm now working on ignoring stale queue data in #1682. I think the current deploy will help with the "already seen" but probably won't help the "finished" issue.

[2016-02-23 23:03] camallen commented on #1661
@mschwamb  FYI - #1676 was deployed today. I'm now working on ignoring stale queue data in #1682. I think the current deploy will help with the "already seen" but probably won't help the "finished" issue.

[2016-02-23 23:04] camallen commented on #1677
closing this in favour of #1640

[2016-02-23 23:04] #1677 closed

[2016-02-23 23:27] brian-c commented on #1673
Sorry, what's the solution? I don't think zooniverse/panoptes-javascript-client#24 will work without having access to the iframe across domains.

[2016-02-24 10:00] camallen commented on #1673
If the user has a valid panoptes session then the redirect works fine, if not then it errors with a SAME_ORIGIN error due to the X-FRAME-OPTIONS response value. @rogerhutchings is double checking browsers and on prod env.

[2016-02-24 18:31] camallen opened #1685 "remove all increment_counter && counter_cache properties"
move the counter jobs to rate limited background workers
remove the counter_cache properties but leave the fields for use in the count workers.

[2016-02-24 18:54] camallen commented on #1673
@rogerhutchings can you confirm what you found with this today?

[2016-02-25 02:10] mschwamb commented on #1661
Thanks for the update @camallen. I can confirm that I'm seeing the same finished flag on images when I go to Fossil Finders.

[2016-02-25 10:30] rogerhutchings commented on #1673
Yup - having SAMEORIGIN set doesn't stop this from working, as a successful redirect _doesn't actually render anything_ - it just bumps you back to the original domain, which of course has permission to run in an iFrame, hence no errors.

 If we get an `X-Frame-Options` error, that's interpreted as not having a session, so we ignore it and accept that the user isn't logged in.

[2016-02-25 10:55] mschwamb commented on #1069
This seems to still be happening - example on Planet Four Terrains user_id number 1328372 classified subject 1328372 twice within a ten minute span. This was on February 9th.

[2016-02-25 16:55] camallen commented on #1661
thanks @mschwamb - looks like you've Identified a bug in the selector, see https://github.com/zooniverse/Panoptes/pull/1688

[2016-02-26 02:28] mschwamb commented on #1640
@camallen not sure if this is related to this issue or not. A user today reported seeing already seen and then finished. I think this person likely finished the available data. I'm almost at the point where I can check this directly for Comet Hunters. Can you confirm in case it's due to some of the new changes to the queues. Details https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/2

[2016-02-26 11:51] camallen commented on #1640
@mschwamb - that user has classified all the non-retired data and instead of returning nothing we return them data they haven't seen but that is all retired data.

We could look at adding some context to the UI like `user_has_finished_non_retired_data=true` or something to message better. Maybe open a new issue for this?

[2016-02-26 11:52] #1679 closed

[2016-02-26 15:12] #1661 closed

[2016-02-27 07:17] mschwamb commented on #1640
@camallen Thanks.  I opened https://github.com/zooniverse/Panoptes-Front-End/issues/2238  on the front end (let me know if it should be in this repo)

[2016-02-27 07:19] mschwamb commented on #1661
@camallen I can confirm I no longer say the retired flag

[2016-02-29 11:19] astopy opened #1694 "mime type/content-disposition for data exports"
Safari (and presumably other browsers) displays data export files inline by default rather than saving them. We should set the appropriate metadata on S3 to stop it doing that. Also may as well set a more useful filename while we're doing that.

Since we're already using signed URLs we can just set the headers in the GET request. See the request parameters section here: http://docs.aws.amazon.com/

[2016-03-01 03:17] mschwamb commented on #1077
@camallen this says this is closed, but I keep getting data dumps unzipped. Did this get reverted somewhere? I'm not on this repo, so I can't reopen.

[2016-03-01 08:42] marten commented on #1077
That's weird, I'm seeing the same thing.

[2016-03-01 08:46] marten commented on #1077
They're gzipped on S3 though, but when you download, you download the unzipped data. Must be some feature of S3 that we'll want to disable to save on bandwidth.

[2016-03-01 09:12] mschwamb commented on #1077
Might want to trying tar.gz - that's how the Planet Four data dumps come, and those to download as compress files. I believe @parrish set up that for us.

[2016-03-01 09:53] astopy commented on #1077
This is probably related to #1694.

[2016-03-01 11:09] marten commented on #1077
I've had a look, and the data flying over the internet is zipped, but after that your browser unzips it for you (on the fly, before writing to disk). This is because of the way we set up the headers. Is that acceptable or would you prefer to always receive a tar.gz which you'd have to unpack manually?

[2016-03-01 11:22] mschwamb commented on #1077
I might not be representative of your target audience, but I personally like it compressed. I presume that would be faster in terms of download speed?

[2016-03-01 11:23] marten commented on #1077
No, you're already downloading compressed data, it's just that right now your browser unzips it before writing to your downloads folder.

[2016-03-01 11:24] mschwamb commented on #1694
a more intuitive filename would be great

[2016-03-01 11:25] camallen commented on #1694
agree with this completely.

[2016-03-01 11:29] mschwamb commented on #1077
if it's the same then fine by me, it just looked uncompressed. thanks for looking into it @marten

[2016-03-01 11:29] #1077 closed

[2016-03-03 15:45] #1628 closed

[2016-03-03 18:39] mkosmala opened #1701 "Urgent: Empty workflows throwing errors"
I am "pausing" all but one workflow in Season Spotter Questions for a volunteer recruitment campaign we are launching on Monday. We need to run a single workflow ("2-1_SimpleDoubleDeciduousSpring"). If I unlink all subject sets from the non-target workflows and then try to classify images, I get errors stating that the workflow has no attached subject sets. If I hook up subject sets that have zero

[2016-03-03 18:53] camallen commented on #1701
@mkosmala Those error messages are expected. There is no need to unlink the subject sets, instead you have to set each workflow to `active=false' via the api [here](https://github.com/zooniverse/Panoptes/blob/59c2e6b640c98e15bd6f609d1136872e0bbd22c5/app/schemas/workflow_update_schema.rb#L21). PM @aliburchard or myself if you need more help. Non active workflows will not be available via the homepa

[2016-03-03 18:53] #1701 closed

[2016-03-03 19:36] mkosmala opened #1702 "If-Match header error when updating Workflow"
This might just be a documentation issue, but I'm following the Apiary instructions to update a workflow to turn "active" to false. When I PUT to Panoptes, I get the error `Request requires If-Match header to be present`. I don't know what this means.

Python code here:

    wfcontents = get_workflow_contents(wfid,token)
    # wfcontents looks good

    # substitue false for true in "active"
    w

[2016-03-03 20:19] camallen commented on #1702
You need to provide the etag of the original request as per [here](http://docs.panoptes.apiary.io/#introduction/headers). This etag specifies the content / version of the resource and is used to stop stale updates from happening.

[2016-03-03 20:24] mkosmala commented on #1702
I'm confused. What is the 'original request'? Where do I find the etag that I need?

[2016-03-03 20:55] camallen commented on #1702
The ETAG is a response header from a GET on the requested workflow.  I.e. get the resource, save the etag, modify the resource, PUT new copy -> server checks etag hasn't changed (not stale update) and voila, updates!

[2016-03-03 21:15] mkosmala commented on #1702
Got it.

[2016-03-03 21:15] #1702 closed

[2016-03-07 03:01] mschwamb opened #1707 "abiity to select a subject set to become live next if the current ones live are finished"
A feature request - Right now you can have more than one subject set live at the same time, but you can't specify any priority. Since there are no priorities in how frequently a given subject set would show, it would be nice to be able to finish up a subject set and have the panoptes automatically switch to another subject set.

Here's the use case I'm thinking of: projects where you need to compl

[2016-03-07 13:41] camallen commented on #1707
This is a good idea, basically a staging area for data sets to go "live" once the workflow finishes.

[2016-03-07 14:49] mschwamb opened #1709 "Planet Four: Terrains says its out of data, but it's not (it's close but there are subjects in need of clicks)"
Planet Four: Terrains currently say it's out of data, but the subject data dump has subjects that are live and not retired yet
some examples:

1510488
1510597
1510640
1515833
1515840
1515847
1515850

also 1510718  has only 16 classifications and we retire at 20, and I haven't classified it, so my account (mschwamb) should be able to classify that one. Instead I'm only seeing retired images and can

[2016-03-07 14:50] mschwamb commented on #1709
@camallen I presume this is a backend issue? Please let me know if it belongs on the front end. Thanks.

[2016-03-07 15:06] camallen commented on #1709
Yep - most likely some out of sync counters, i'm investigating.

[2016-03-07 15:11] aliburchard commented on #1707
I love this idea!! On the front end it would need some checkboxes (@brian-c I assume this is pretty straightforward), but @camallen what would this need on the back end?

[2016-03-07 15:13] camallen commented on #1707
A subejct_set_id queue on the workflow that has next in line set ids to activate. Then some login around finishing the workflow to activate the next data (if it exists) until all is exhausted, then mark as finished.

[2016-03-07 15:27] camallen commented on #1709
Should be all fixed. I've also reset the counters based on project launch date. This was caused by some count problems we had when first launched. There is some scheduled work on this topic too.

[2016-03-07 15:27] #1709 closed

[2016-03-07 15:30] mschwamb commented on #1709
Thanks @camallen for the rapid response and for sorting the issue

[2016-03-07 16:34] marten commented on #1707
Isn't this what a grouped workflow does?

[2016-03-07 17:05] camallen commented on #1707
not quiet. Grouping allow specific selection from subject_sets. This would basically "refill" the active sets of data from a defined list client side.

[2016-03-08 10:16] #1460 closed

[2016-03-08 15:46] csalexwilliams opened #1713 "Allow all users to fetch their classifications for a subject."
This issue is in reference to the following API call:
http://docs.panoptes.apiary.io/#reference/classification/classification-collection/list-all-classifications

The use-case for this issue is driven by a key feature in Ancient Lives, which is temporarily available here: https://preview.zooniverse.org/ancientlives/. The exact use-case is a user returning to an image of a papyrus fragment to conti

[2016-03-08 15:51] camallen commented on #1713
thanks for catching this @csalexwilliams - i'll get working on this soon.

[2016-03-08 16:41] camallen opened #1714 "allow customisation of the stats / logged in project listings"
As suggested here https://www.zooniverse.org/talk/17/43234?comment=86668 add a hide / show listing for the project prefs to allow finer grained control on what users want to see on their landing / stats page.

[2016-03-09 08:17] #1694 closed

[2016-03-10 14:17] mschwamb opened #1716 "having a whitelist of vetted project owners and scientists for subject upload?"
I asked for my subject limit to be raised again today so I could upload the next set of Planet Four: Terrains images. I've had my limit already upped 2 or 3 times in less than a year because I'm the main person uploading for P4: Terrains, and I had to upload the first batch of  Comet Hunters for launch.

Out of a conversation with @camallen, the idea came about of instead of always having to get a

[2016-03-10 16:43] srallen commented on #1716
:+1: This came up with regard to Gravity Spy since they have a nightly batched upload.

[2016-03-13 02:56] mschwamb opened #1719 "allowing search on displayname"
one of the moderators was trying to message me on pantopes and  couldn't find me because they were trying to search for 'meg' and my username is mschwamb and my display name is 'Meg Schwamb' - The search used to allow the ability to search on display name. Is there a specific reason this changed? If it's too much on the backend, could there instead be a check box to mention if you're searching by

[2016-03-13 03:12] mschwamb opened #1720 "Having 'folders' for grouping related subject sets"
I'm not sure how feasible this is, but it would be nice and save on navigation on the project builder if I could group related subject sets into a folder and then the folders show up on the navigation bar of the project builder. That I could group subject sets as Season 1 or wildebeest images. It wouldn't need to be recorded in the classification data, but it would save on the list of subject sets

[2016-03-13 04:36] mschwamb opened #1721 "Having more than one way of determing the site is out of data - out of data message doesn't show for P4:T"
We're finished all the subject data but because the subject counts are a little off the site is showing retired images to everyone and doesn't have a message up on the site. previously it went too early. For the future, we'll either need to tweak the subject completed count to get this value correct. Perhaps there should be a way that if all subjects are completed that when a classifier queue is r

[2016-03-13 05:07] mschwamb opened #1722 "Giving Zooniverse approved status to Planet Four: Terrains"
I had to switch over datasets, so lost the approved status when the site went into development mode. When someone has time can they set it back to Zooniverse approved.Thanks

[2016-03-13 12:11] mschwamb opened #1723 "Adjust the name for the csv dumps so they open on macs (and likely other computers)"
I think somehow the csv dumps when they get more intelligible fillenames now have quotes. When I try and click on it for example to open a few classifications from a test project I get this

<img width="572" alt="screen shot 2016-03-13 at 8 08 49 pm" src="https://cloud.githubusercontent.com/assets/753325/13728556/a44183dc-e957-11e5-9869-c3e95e2846f7.png">

if I do an ls, I get this:

/Users/mschwa

[2016-03-14 00:24] mschwamb opened #1724 "subjects with classification counts less than retirement limit retired"
I have subjects like the following

487678
487941
488038
487736
487917
488026
487911
488059
488026
487911

that have classifications below the retirement limit by a significant number of clicks but are retired from workflow 16. Is this a bug in retirement or does unchecking a subject set retire all it's subjects and you cannot classify them again if you re-check in the workflow editor? If it's the

[2016-03-14 10:36] camallen commented on #1723
Seems to be just safari in my testing, I'll get a fix ready for this.

[2016-03-14 10:59] camallen commented on #1724
most likely a bug which we know happened and it was fixed but there are data problems like this around. I've "un-retired" those subjects (there are 2 dups there by the way), is it just these ones?

Also for reference, the retired information is set on the worklfow retirement counts and it's per workflow only not subject set. Have you changed the retirement counts for the workflow at all?

[2016-03-14 11:01] #1723 closed

[2016-03-14 11:02] camallen commented on #1722
done

[2016-03-14 11:02] #1722 closed

[2016-03-14 11:04] aliburchard commented on #1719
Searching for users is known to be buggy, but I'm not actually sure what's in the works in terms of fixes. (It could be that searching by display name got lost while trying to fix other search functionality?) But agreed that this is important...

[2016-03-14 11:07] camallen commented on #1721
Is this still happening? My counts are:
[code]

[2016-03-14 11:08] camallen commented on #1719
we removed this a while back since it was buggy and tying up resources. @mschwamb any reason why the mod didn't just ask for your username / look it up on talk, etc? I mean it's in the url of the project too...

[2016-03-14 11:10] camallen commented on #1720
We could add a grouping code to the subject set and then have the UI present that group differently.
I'm not sure we're going to implement this though instead we could just change the lab builder page to handle the large set of data.

[2016-03-14 11:27] mschwamb commented on #1719
most people use the redirect http://terrains.planetfour.org so I wouldn't expect them to realize my username is in there. He would have to find a conversation I'm in. Not that hard, though he had an open conversation so he messaged me in that.

[2016-03-14 11:28] mschwamb commented on #1721
Thanks for looking into this. It was over the weekend, but on Sunday before I took the site down the subject csv said all the data was classified and now message was showing.  I added new data which is the numbers you're seeing.

[2016-03-14 11:29] mschwamb commented on #1724
Thanks. I was manually copying and apparently hit the same subject.  There's more should I give you a list?  It's about 500 subjects.

[2016-03-14 11:32] camallen commented on #1719
@mschwamb I'm not going to fix this currently as I think better internal communication would have alleviated this.

If you feel strongly about this / it is affecting a lot of people we should re-open.

[2016-03-14 11:32] #1719 closed

[2016-03-14 11:38] mschwamb commented on #1719
Originally put this in the wrong thread... (sorry) I don't have a strong preference, but I do think if you're not going to have that search then the research pages need to be fixed to show username and display name. The research page only shows my display name https://www.zooniverse.org/projects/mschwamb/planet-four-terrains/research to help make it easier for volunteers to message researchers

[2016-03-14 11:40] camallen commented on #1719
@mschwamb can you move this the context where you're talking about login / display names.

[2016-03-14 11:41] camallen commented on #1724
No need. I'll look it up. I'll work on the premise that retirement was always 20 for that workflow.

[2016-03-14 11:45] mschwamb commented on #1719
yep. I'll add that to the front end

[2016-03-14 11:52] camallen commented on #1640
@mkosmala @mschwamb any more reports of these errors? I think we've covered most of these with the selection / queue updates.

I agree we can do better with signalling to the user that they have finished the data but this issue is around the data we show them if the project is not finished. Please close if we're not getting more reports.

[2016-03-14 11:53] mschwamb commented on #1724
yep it's 20 clicks until retirement  for that workflow. It's been that way since launch. We never changed it.

 It appears there's only 1 subject in  the other subsets previous uploaded  didn't hit retirement from my check. It's mainly subject set  73  that's impacted . Looks like I misremembered from early it's about 250 subjects, but some have only 6 classifications.

486757 is the new subject s

[2016-03-14 11:53] camallen commented on #1398
This has been implemented, we need to set the project launch date and run a worker to make it happen.

[2016-03-14 11:53] #1398 closed

[2016-03-14 11:59] camallen commented on #1721
Makes sense now, thanks. This is a know bug and something we will fix in #1639 & #1571

[2016-03-14 11:59] #1721 closed

[2016-03-14 12:00] mschwamb commented on #1640
I haven't seen any new reports of this.

[2016-03-14 12:07] camallen commented on #1724
Done - un-retired the incorrect ones (240 of them).

[2016-03-14 12:07] #1724 closed

[2016-03-14 12:16] mschwamb commented on #1724
thanks very much

[2016-03-14 13:17] mschwamb commented on #1722
Thank you @camallen!

[2016-03-14 18:32] srallen opened #1726 "Mini-course resource for projects"
We are porting the Planet Hunters style mini-course into PFE for Gravity Spy. The mini-course will be identical to the tutorial on the back end, but will have minor differences from the tutorial on the front-end. We also want projects to be able to have both tutorials and mini-courses, which is why this is separate from a tutorial resource, too. Could we add support for projects? Mini-courses will

[2016-03-15 14:35] camallen commented on #1726
yeah - we can add another resource for this.

Can you specify the resource data types you'll need? Tutorial looks like [this](https://github.com/zooniverse/Panoptes/blob/03b096db6c33be6535a1c87d4552642ec1bf3839/db/structure.sql#L947). I assume that will do for you?

[2016-03-15 14:53] srallen commented on #1726
Yes, it'll be identical to the tutorial, so that will do. Thanks.

[2016-03-15 14:54] camallen commented on #1726
what's the timeline on this?

[2016-03-15 15:01] srallen commented on #1726
Would the end of this month work? There's going to be some a/b testing with it that we'll need to get in place April or May. The project is targeting a June launch. I working on and can get most of the front end for it done this week.

[2016-03-15 15:02] camallen commented on #1726
Will aim for that. If you can stub the data as is from the api then it should be a drop in replacement.

[2016-03-16 17:11] alexbfree opened #1727 "subject_sets endpoint doesn't seem to be respecting sort parameter"
After implementing https://github.com/zooniverse/Panoptes-Front-End/pull/2310 (fix for https://github.com/zooniverse/Panoptes-Front-End/issues/2291) which has now been deployed to PFE, I am not seeing the subject sets in the correct order.

From the network tab, it looks like the response from the API has not respected the sort parameter...

![screenshot 2016-03-16 17 08 22](https://cloud.githubus

[2016-03-16 17:18] camallen commented on #1727
@alexbfree we'll need a sort by declaration on the serializer, e.g. [like this](https://github.com/zooniverse/Panoptes/blob/cde5f4cb48d1f33be656f0eb403294419f895d35/app/serializers/recent_serializer.rb#L6) but [here](https://github.com/zooniverse/Panoptes/blob/03b096db6c33be6535a1c87d4552642ec1bf3839/app/serializers/subject_set_serializer.rb#L7).

Fancy having a crack at it?

[2016-03-16 17:32] alexbfree commented on #1727
ok that sounds straightforward enough with those pointers. I will have a go and get you a PR to review. I may ask for help setting up a local Panoptes API!

[2016-03-16 18:34] camallen commented on #1727
cool - happy to help, the readme has instructions on getting setup for dev

[2016-03-17 05:47] mschwamb commented on #1720
Yeah, I saw it more for organization as a project ages. Like I have 5 subject sets from the first upload, they're completed, so I don't ever need to look at them in the workflow again, so being able to hide them in a folder would be nice so that I can easily separate out what's new versus old data very easily.

[2016-03-17 13:45] brian-c opened #1728 "Allow for empty workflow tasks"
Currently, tasks cannot be set to `{}`. Desired behavior is to be able to start with an empty tasks list (zooniverse/Panoptes-Front-End#934).

[2016-03-17 13:47] camallen commented on #1728
was there any reason we didn't allow this?

[2016-03-17 14:32] brian-c commented on #1728
Not that I'm aware of. Probably seemed reasonable at the time that a workflow would never have zero tasks.

[2016-03-17 15:23] srallen commented on #1726
@camallen, @eatyourgreens brought up a good question in the custom projects stand up today about whether or not tutorials or mini-courses should belong to workflows rather than one per project. I think I'll need to follow up with the Gravity Spy team about this since one of the plans is also to have multiple workflows based on difficulty for the volunteer and it may make sense to have separate tut

[2016-03-17 15:27] camallen commented on #1726
@brian-c and I talked about this...i preferred per workflow but we were told to implement them per project in the interim. @srallen find out if we need per workflow..

[2016-03-17 15:32] mcbouslog opened #1729 "allow data export filtered by workflow"
noting this here to collect input, start conversation...

data export by workflow feature request per Notes from Nature conversion to Panoptes:

currently within Project Builder, Data Exports there are the classification, subject, workflow and workflow contents exports, which create related CSV files with the entire project's data, and we’d like to generate the CSV with only a chosen workflow’s da

[2016-03-17 15:38] alexbfree commented on #1720
It occurs to me that this would also be a way to have the concept of "seasons" (as in Serengeti) or "named datasets" (e.g. Decals in GZ) in Panoptes/PFE. You could create a folder for a collection of subject sets called "Season 10" or "XYZtelescope images" or whatever... you could represent that in the UI with some sort of progress bar or finite list of groups... then you could be free to add new

[2016-03-17 15:44] srallen commented on #1726
@camallen I'm going to find out asap.

[2016-03-17 16:07] camallen commented on #1729
There is nothing to stop us generating reports for a specific workflow. I guess we'd have to think about how to present data exports / requests per workflow in the lab pages. I know @marten is working on data exports but not sure where we're at.

@mcbouslog what's a realistic time line on requiring this? I assume it's not needed for project launch?

[2016-03-17 19:28] srallen commented on #1726
@camallen, I checked in with @trouille and it sounds like we'll need tutorials to linked to workflows for Gravity Spy and the Notes for Nature rebuild (I'll open a separate issue for that). Gravity Spy will only have one mini-course, but for future proofing, mini-courses should also be linked to workflows.

[2016-03-17 19:37] srallen opened #1730 "Link tutorials to workflows"
Related to #1726, Gravity Spy will have a couple workflows: one for beginners to the project and one for advanced classifiers. The different workflows should have separate tutorials. In the future, Notes for Nature will also need tutorials linked to workflows.

[2016-03-17 21:14] brian-c commented on #1730
@chrislintott, want to weigh in on this? The reason we attached tutorials directly to projects was that if two workflows need significantly different tutorials, they should be in separate projects. No longer the case perhaps?

[2016-03-18 14:28] mkosmala commented on #1640
Things had been pretty good for a week or so. User reported an "already seen" yesterday, though...
https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/62/44955

[2016-03-18 15:39] camallen commented on #1640
thanks for the report @mkosmala, please keep letting us know.

[2016-03-18 15:41] trouille commented on #1730
@brian-c Gravity Spy workflows will differ in that the 'beginner level' workflow will ask volunteers to choose between two glitch classes (and the subject set associated with the workflow will be identified via machine learning to likely be of those two glitch classes) while the 'advanced level' workflow will ask volunteers to choose between ~8 glitch classes (using the survey tool). The workflows

[2016-03-18 17:29] camallen opened #1734 "update result page name to results"
linked to https://github.com/zooniverse/Panoptes-Front-End/issues/2328

@mrniaboc is this only one we'll want to update?

[2016-03-18 18:08] brian-c commented on #1734
Are you also going to update the `url_key` field (currently also "result")? If so I'll update that value on the front end and add a redirect for any existing links.

[2016-03-18 18:20] #1713 closed

[2016-03-21 09:07] camallen commented on #1734
no probs, will just update the name.

[2016-03-21 10:14] camallen commented on #1320
this should have been taken care of with the queue rebuild work and the data selectors.

[2016-03-21 10:14] #1320 closed

[2016-03-21 11:33] alexbfree commented on #1727
this has been fixed in the API by #1733

[2016-03-21 11:33] #1727 closed

[2016-03-21 15:54] mkosmala opened #1737 "Aug 8, 2015 incomplete classifications"
This problem is probably the symptom of a long-solved problem. But I have 58 incomplete classifications for Season Spotter in the data dump file. Specifically, the first question ("Do you have a clear view?") is answered affirmatively and then no other answers are recorded. Since all questions are marked required, this type of classification shouldn't exist in the database. All 58 incomplete class

[2016-03-21 18:28] camallen commented on #1737
What workflow version were they submitted for? Any chance these were submitted via scripts and not the interface (classification metadata should show some information on this). I don't think we have incomplete support from the front end app.

[2016-03-21 19:36] mkosmala commented on #1737
This problem crosses four workflows. And the project was live by this time, so it's the most up-to-date version of each workflow. They definitely came in through the front end -- they represent the classifications of 7 different users, including 3 not-logged-in ones. What's odd is that there are plenty of good classifications in and around these incomplete ones, and they were brief in time (betwee

[2016-03-21 19:47] mkosmala commented on #1737
(Hey, related, but I won't open another issue right now: is there no longer a classification ID, as there was in Ouroboros? I realize that I should be able to concat some of the fields (user_id,metadata) to get a unique value. But it was nice when there was a single short-ish value that indexed a classification. Basically, I want to spit out the "IDs" of the incomplete classifications as my script

[2016-03-21 23:20] vrooje commented on #1737
+1 to the above - I don't always need a unique classification ID, but when I do I prefer a pre-existing column.

(I've run into issues before when e.g. a browser submits classifications so close together that created_at is the same for a given user so I can't create a unique id without actually including the classification details in the id, and perhaps not even then...)

[2016-03-21 23:24] vrooje commented on #1730
+1 for me on this - it would be good to have this flexibility if possible for some projects.

[2016-03-22 08:29] camallen commented on #1737
@mkosmala where are these incomplete classificaitons coming from, the dumps? From [here](https://github.com/zooniverse/Panoptes/blob/95671795f2790da789c16a35b4bb8fa1f677f637/app/workers/classifications_dump_worker.rb#L36) there should only be completed classifications. We may be talking across each other here as in the api we have the notion of "incomplete" classifications that allow a user to sav

[2016-03-22 08:43] camallen commented on #1605
closed by #1732

[2016-03-22 08:44] #1605 closed

[2016-03-22 08:46] camallen commented on #1606
closing this since it's expected behaviour for the requested media type.

[2016-03-22 08:46] #1606 closed

[2016-03-22 08:52] camallen commented on #1624
this work was done in #1676 and #1682

[2016-03-22 08:52] #1624 closed

[2016-03-22 08:54] camallen commented on #1591
Assuming this was related to https://github.com/zooniverse/Panoptes-Front-End/issues/2170, closing.

[2016-03-22 08:54] #1591 closed

[2016-03-22 08:56] camallen commented on #1538
@alexbfree based on your work last week, can you get some doc updates ready for close this?

[2016-03-22 08:57] camallen commented on #1550
oauth implicit grant and @rogerhutchings work on the client will fix this. closing as no change in the api is needed.

[2016-03-22 08:57] #1550 closed

[2016-03-22 09:16] camallen commented on #1532
I started adding comments and working through this and seems there is outdated information. Did the export formats change or am i just confused?

[2016-03-22 09:20] camallen commented on #1574
fixed by #1706

[2016-03-22 09:20] #1574 closed

[2016-03-22 09:22] camallen commented on #1415
this is fixed

[2016-03-22 09:22] #1415 closed

[2016-03-22 09:23] camallen commented on #1363
this should be fixed but we may need to recount for certain projects

[2016-03-22 09:23] #1363 closed

[2016-03-22 09:28] aliburchard commented on #1532
Ha, I just started working on this yesterday too, combining this with what Meg wrote up. Was going to check export formats and also ping you for answers to things I didn't know -- maybe we can touch base on it after lunch or something.

[2016-03-22 09:29] camallen commented on #1532
for sure.

[2016-03-22 09:32] aliburchard commented on #1737
Absolutely +1 to having primary keys for each classification. Since I suspect we'll maintain the current json exports for teams that already are set up for working iwht them, we probably want to add pkeys to those at some point (in addition to adding them into the csv exports).

[2016-03-22 14:08] mkosmala commented on #1737
@camallen I assume it's the dump. It's the thing I get when I "request new classification export" from the Project Builder.

(Also, more processing shows that the problem occurs in all 7 of my workflows for the Season Spotter Questions project; I have 95 total incomplete classifications out of 113,142 total classifications.)

[2016-03-22 14:09] mkosmala commented on #1737
I'll split off the primary key request into a new issue. For me, it's not urgent, but would be nice.

[2016-03-22 14:12] mkosmala opened #1739 "Request for unique classification ID in classification dumps"
Split from #1737
It would be nice to have a unique classification ID in the classification dumps. I realize that I should be able to concat some of the fields (user_id,metadata) to get a unique value. But it was nice when there was a single short-ish value that indexed a classification in Ouroboros.
@vrooje is +1 for this. She can't always guarantee a unique ID by concatting existing fields.
@alib

[2016-03-22 14:19] camallen commented on #1739
sounds like a good idea.

[2016-03-22 14:52] aliburchard opened #1740 "create sensible names for aggregated data export"
Because you guys are awesome, the raw data dumps and talk data now have logical names (project name + dump type). Can we do the same for the aggregated data dump please?

[2016-03-22 15:10] mkosmala opened #1741 "Dealing with multiple classifications from one user of a single subject"
@camallen When did the "already_seen" indicator get added to the classifications? I've got a pairs of classifications for the same user and subject from last July and can't see any way to distinguish the two classifications.

Interestingly, the subject has 5 classifications (the threshold for retirement) and is not retired -- presumably because of the duplicate classification? So there must be som

[2016-03-23 09:17] camallen commented on #1741
@mkosmala looks like we added the ability for the clients to specify this in https://github.com/zooniverse/Panoptes/pull/1215 (20 May 2015) but the client wasn't submitting this data properly https://github.com/zooniverse/Panoptes-Front-End/issues/368#issuecomment-120913401 (13 Jul 2015).

We then pushed this reponsibility to the backend in https://github.com/zooniverse/Panoptes/pull/1215 (29 Jul

[2016-03-23 14:07] mkosmala commented on #1741
Got it. And yep, I decided to take the first classification according to `created_at` time as the keeper. Good to know that this issue ended by August 2015, so it shouldn't affect any new projects.

[2016-03-23 14:07] #1741 closed

[2016-03-23 14:23] mcbouslog commented on #1729
@camallen - we're hoping to open the project to the various science teams/institutions May 1st, could that be a realistic timeline? Full launch goal is June 1st. Though not needed by dates noted, would be nice to show if possible, but I'm admittedly ignorant when it comes to gauging what's a reasonable timeline for this.

Might be nice project for/if Adler hires a new back-end dev sooner than late

[2016-03-23 15:59] camallen commented on #1729
I think the 1st of May will be too ambitious (holidays and travel to the US). When will a science team actually start using the data, that will be a more realistic time frame. In my experience this is much later than after project launch.

@marten thoughts on this / new dev project work?

[2016-03-24 12:23] #1716 closed

[2016-03-24 14:23] marten commented on #1730
@brian-c what's our migration path on this? If we remove the resources from projects it'll be a breaking change to the API. Do we want to maintain support for tutorials which aren't linked to a workflow specifically, or should we just deprecate that?

[2016-03-24 14:28] marten commented on #1726
@srallen If it's going to be just the same as a tutorial, wouldn't we be better off adding a "kind" field to the tutorial resource so that you can distinguish between two kinds of tutorial in the frontend?

[2016-03-24 15:09] srallen commented on #1726
@marten Yeah I was thinking about this, but at the time tutorials belonged to project and had only one, it made sense to have a separate resource for mini-courses to be able to support both and allow some divergence. However, if tutorials will change to belong to workflow and to allow many per project, then yeah, it can just be a "kind" field on the tutorial.

[2016-03-24 15:21] brian-c commented on #1730
@marten Can we update existing projects to move their tutorials from the project to each of the workflows at the same time we update the front end to look for them there? The front end can be ready early next week.

[2016-03-24 15:38] marten commented on #1730
We can do that.

[2016-03-24 19:52] #1739 closed

[2016-03-25 10:40] marten commented on #1737
It's definitely not incomplete classifications in the way @camallen was thinking, there aren't any in the DB for this project at all. If this issue only occurs on that day last day, that makes me wonder if it was perhaps just a temporary bug in the frontend that allowed people to submit classifications without going through the entire workflow.

[2016-03-26 02:28] mkosmala commented on #1737
@marten Yeah. That's what I think. It's really just 12 hours during which these occurred. And in the same time frame there are good classifications. So these got in there through some now-solved bug. The question is what to do with them now? They're useless to me. And I don't want them contributing to retirement...

[2016-03-26 19:35] mschwamb opened #1745 "out of data message didn't show up on Comet Hunters"
We just ran out of data on Comet Hunters. The project launched at the end of December. My understanding is that it shouldn't have the same counters issue as Planet Four: Terrains does. Is that correct?  I thought I'd mention it in case there was a different new issue that prevents the out of data message for going up.

[2016-03-29 14:15] mkosmala commented on #1640
Another "already seen":
https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/62/46428

[2016-03-30 11:00] mschwamb opened #1746 "Give Comet Hunters Zooniverse approved status again"
We had to upload new data to Comet Hunters. I've made the subject set live now, and switched the site back into Live mode from Development. When someone has a chance can you switch the flag for the project to Zooniverse approved again? Thanks.

[2016-03-30 12:09] eatyourgreens commented on #1746
Hi Meg, I've just flipped it to approved again.

[2016-03-30 12:09] #1746 closed

[2016-03-30 14:45] mschwamb commented on #1746
Thanks @eatyourgreens!

[2016-03-30 17:56] mkosmala opened #1748 "Subjects still not retiring correctly"
I thought this was fixed long ago. But I'm now looking at the data generated from last Tuesday, when @mrniaboc sent out the newsletter about the Season Spotter spring challenge. All subjects are supposed to retire with 5 classifications. But they don't necessarily. At first I thought maybe this is because of the way subjects are served in sets -- if classification 5 comes in while someone else is

[2016-03-30 21:38] mschwamb commented on #1748
@mkosmala Are you sure those users classifying in February didn't classify the image when it was in a retired state after they've seen everything else? The interface will someone new images that are retired but they haven't seen with the retired flag on it, This might be more related to https://github.com/zooniverse/Panoptes-Front-End/issues/1050

[2016-03-31 01:48] mkosmala commented on #1748
@mschwamb I thought of this, but it is definitely not what is going on. Our most prolific classifier hasn't even seen 25% of the subjects in our most-complete workflow and a double-check of her classifications shows that 7 of her most recent 10 classifications in that workflow were on subjects that hadn't reached retirement yet. (One of those other 3, sadly, has been classified by 10 people now! A

[2016-03-31 08:26] alexbfree commented on #1745
Also experiencing this issue with https://www.zooniverse.org/projects/alexbfree/snapshot-serengeti-computer-vision/ - all subjects have been retired but it's not showing Out of Data

[2016-03-31 14:30] #1730 closed

[2016-04-01 19:55] tedcheese opened #1750 "Data aggregation not functioning"
@ggdhines I requested a new aggregation export from Whales as Individuals two days ago, then again yesterday, with no apparent result. When I download data, result is an aggregation from January.

Thx ~ Ted

[2016-04-01 20:23] ggdhines commented on #1750
hi Ted, is your project id 11? I don't know how to easily get the a project name from an id but I know that an aggregation run for project 11 caused an error a couple of days ago. That error has been fixed. I didn't receive an error yesterday but I there was stuff going on with rectangle aggregation that only got fixed today. Apologies - need to get a better notification system set up.
That said,

[2016-04-01 21:12] tedcheese commented on #1750
Hi Greg. Thanks, yes, project 11. So as far as getting the aggregation data, sometime Monday or so?

[2016-04-01 21:14] ggdhines commented on #1750
Hopeful that the config file issue can be quickly fixed - in which case definitely Monday.

[2016-04-02 08:09] aliburchard commented on #1750
quick q: Is the config file issue affecting all projects? Or just projects with rectangle aggregations?

[2016-04-02 09:04] mschwamb commented on #1069
Volunteer is seeing 'already seen' flag on and off,  but there's ~6000 new images on Comet Hunters
See the volunteers description [here](https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/210/40383?comment=94235)

[2016-04-02 09:08] ggdhines commented on #1750
@aliburchard was unfortunately affecting everything but is now fixed. @tedcheese give it a go. I'm heading out for the head but will check tonight or tomorrow for any issues.

[2016-04-02 19:21] tedcheese commented on #1750
... requested again a five hours ago with no result... how long should it take?

[2016-04-04 13:24] #1429 closed

[2016-04-04 13:39] marten commented on #1726
Tutorials are now assignable per-workflow in the API (have-many, so you can share tutorials across workflows). Tutorials also have a `kind` field where you can store an identifier to distinguish between normal tutorial and the "mini-course".

[2016-04-04 13:39] #1726 closed

[2016-04-04 14:23] astopy opened #1751 "Add sidekiq worker to import remote subject images"
It'd be nice if users could choose to have Panoptes copy remote subject images to S3 automatically, so they could upload a manifest with a bunch of public Dropbox (or whatever) URLs and we'd just start a sidekiq worker to fetch each one and upload it.

[2016-04-04 15:06] astopy opened #1752 "Implement private profiles"
Profiles are marked as private by default but that doesn't actually do anything at the moment.

[2016-04-04 15:15] marten commented on #1729
It'll need a bunch of front-end work too, might not be the best thing for a new team member to have to deal with multiple codebases immediately. I'm not opposed to doing this, and I think it makes more sense in general than lumping everything together. However I don't think it'll have a high priority for a while since it can be worked around by filtering the full export on the workflow column afte

[2016-04-04 20:13] mkosmala commented on #1640
Another "already seen":
https://www.zooniverse.org/projects/kosmala/season-spotter-questions/talk/58/47140

[2016-04-04 21:53] tedcheese commented on #1750
@ggdhines Any update on this?

[2016-04-05 09:17] #1728 closed

[2016-04-05 10:10] #1664 closed

[2016-04-05 13:05] ggdhines commented on #1750
Hi @tedcheese - things are looking good but there are some clusters that aren't being included in the final output. They seem to be missing some data fields (those fields get calculated for every cluster so trying to understand why these clusters are different). Once that's done, I'll run the code and email you the results.

[2016-04-06 06:45] mschwamb commented on #1640
Also happening on Comet Hunters. I reported in a different ticket

[2016-04-06 09:03] #1750 closed

[2016-04-07 11:15] marten commented on #1510
For now this won't have priority, our efforts are shifting towards making sure the exports are useful and easy to work with out of the box, rather than supplying additional libraries to work with them.

[2016-04-07 11:15] #1510 closed

[2016-04-07 12:27] chrislintott commented on #1532
@aliburchard Can this be closed now?

[2016-04-07 14:13] chrislintott commented on #1740
Maybe including the name of the routine that generated it?

Chris

[2016-04-08 11:27] marten commented on #546
Cleaning up some older issues. This one seems to be solved so I'm going to close it. Let me know if I'm wrong.

[2016-04-08 11:27] #546 closed

[2016-04-08 11:29] marten commented on #73
Closing this issue. It's still on the back of our mind, but this isn't an actionable issue right now.

[2016-04-08 11:29] #73 closed

[2016-04-08 11:30] simoneduca opened #1757 "Optimize panoptes user group fetching. Affects education-api."
@marten not sure you had a look at this already, but there you go.

[2016-04-08 11:31] marten commented on #136
@camallen if this is still an issue (I don't really see these pop up in NewRelic in practice) then please reopen. Spring cleaning issues right now.

[2016-04-08 11:31] #136 closed

[2016-04-08 11:32] camallen commented on #1757
can someone fill in some details?

is this optimizing user_group searchers (attribute filtering) or is get `/ap/user_gorups/1` slow?

[2016-04-08 11:32] marten commented on #332
Scratching my own itch here, going to take this up soon.

[2016-04-08 11:34] simoneduca commented on #1757
I think it's the latter, but I leave Marten to clarify.

[2016-04-08 11:37] marten commented on #1757
It's just `GET /api/v1/user_groups` to get the list of all groups a user is in.

https://rpm.newrelic.com/accounts/23619/applications/5149304/transactions#sort_by=slowest&id=5b22436f6e74726f6c6c65722f6170692f76312f757365725f67726f7570732f696e646578222c22225d

[2016-04-08 11:40] marten commented on #1757
Would getting `/api/v1/memberships` instead be faster?

[2016-04-08 11:41] camallen commented on #1757
not sure, we should optimize the get on user_groups index if it's slow.

[2016-04-08 14:25] camallen commented on #1640
@mkosmala @mschwamb - i've finally got a lead on this, i'm investigating.

[2016-04-11 14:57] #1734 closed

[2016-04-11 14:59] Crentist opened #1761 "Issues uploading media"
I'm having trouble whenever I try to upload any media through the frontend (like changing a project's logo).

![erroruploadingpanoptes](https://cloud.githubusercontent.com/assets/7231917/14431188/f6afa4fc-ffda-11e5-8b0a-8e339af98172.png)

From what I can gather, you upload media to an Amazon S3 Bucket, and since I have my own, I'd like to use it, but I can't find anywhere in the config files where

[2016-04-11 15:09] marten commented on #1761
The bucket is configured through the [MediaStorage](https://github.com/zooniverse/Panoptes/blob/master/app/services/media_storage.rb), which is set up using `config/storage.yml`. The template you'll find in the repo doesn't really explain that too well, here's what we're using in production (AWS client credentials get automatically assigned):

[code]

[2016-04-11 15:23] camallen commented on #1761
also see the secion, `Setting AWS Credentials` in http://docs.aws.amazon.com/sdk-for-ruby/latest/DeveloperGuide/aws-ruby-sdk-getting-started.html

we use env variables in the container running the app, http://docs.aws.amazon.com/sdk-for-ruby/latest/DeveloperGuide/aws-ruby-sdk-getting-started.html#aws-ruby-sdk-credentials-environment

[2016-04-11 19:04] Crentist commented on #1761
Apparently I managed to set up the config in `storage.yml` with my credentials, but I'm still getting the same error as before (as seen in the screenshot above). How can I make sure that I actually set everything up correctly? Is it possible that I also need to change something in the front-end code? Thanks for your answers!

[2016-04-12 08:07] camallen commented on #1761
Don't put the aws credentials in the `storage.yml`, put then in to env variables of the session / cmd that runs the api.

As per [the docs](http://docs.aws.amazon.com/sdk-for-ruby/latest/DeveloperGuide/aws-ruby-sdk-getting-started.html#aws-ruby-sdk-credentials-environment) linked above.

If running under docker-compose then you can edit the docker-compose env variables for the api [here](https://g

[2016-04-12 13:52] Crentist commented on #1761
Yeah, sorry, I didn't actually put them in `storage.yml`, poorly worded on my part. It seems like it's working now, although I'm getting some CORS Headers missing thing which I'll fix in a bit. Thanks a lot!

[2016-04-12 13:54] camallen commented on #1761
great stuff! closing for now, please open a new ticket for CORS errors if you need.

[2016-04-12 13:54] #1761 closed

[2016-04-12 16:21] camallen commented on #1748
Hey @mkosmala

the subject retired just fine on 23rd Dec 2015
[code]

Email on 3rd March 2016, you asked me to ensure only workflow_id: #174 was active, the rest were set to inactive in preparation for your promotion?

The classification on the 2016-02-02 20:09:06 UTC is tricky to debug but luckily the user subject queue is still in a state from their classifying session on 2nd Feb 2016. All the d

[2016-04-12 19:05] mkosmala commented on #1748
Hey @camallen, thanks for looking into this. On 2nd Feb, there were no workflows (or subject sets) that were close to being fully retired. The one most complete was between 1/3 and 1/2 done, I'm pretty sure. (I can reconstruct it exactly, if you need.)

And it's baffling to me why this has happened so frequently and across all 7 workflows (most of which are not close to being fully retired). I rea

[2016-04-12 19:09] camallen commented on #1748
Please do, the more data we have to figure out what was up the better as it is hard trying to reconstruct the state of the system in the past to debug.

[2016-04-12 19:10] mschwamb commented on #1640
@camallen Saw there was a merge related to this. Should I press the moderator about whether they're seeing Already Seen again on Comet Hunters. We just sent out a newsletter in case that's useful/more likely to trigger this.

[2016-04-12 19:45] camallen commented on #1640
Yep, please do.

[2016-04-13 10:12] astopy opened #1763 "Updating media URLs/prefixes"
Currently we configure storage with something like:

[code]

And we assume the path starts with an FQDN here: https://github.com/zooniverse/Panoptes/blob/master/app/services/media_storage/aws_adapter.rb#L46

To make this more flexible (for both ourselves and third parties) we should instead specify the domain name (and possibly the prefix) separately:

[code]

For our current config this does look

[2016-04-13 10:48] marten commented on #1757
Fixed by #1762

[2016-04-13 10:48] #1757 closed

[2016-04-13 15:38] camallen commented on #1571
linked to #1745

[2016-04-13 15:38] camallen commented on #1745
this is aduplicate of #1571

[2016-04-14 13:41] camallen opened #1765 "save first launch approved timestamp"
when a project first goes launch approved, save the timestamp to launch_date.

[2016-04-15 02:23] mschwamb commented on #1640
@camallen Still happening. Since we have new data live I don't think our moderator has gone through most the data as the already seen is intermittent  https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/210/40383?comment=98485

[2016-04-15 09:12] camallen commented on #1640
thanks @mschwamb, we're going to try out another mechanism next week and get some data on it's "perceived" performance cost vs how we currently select subjects. The idea is to skip queue based selection and thus avoid the update timing / contention cost around them. I'm thinking it could alleviate some (but not all) of these issues since we rely on background jobs creating the seen subject records

[2016-04-15 09:14] camallen commented on #1069
closing this in favour of #1640 since we "are" labelling the duplicates as already seen, please put all reports onto the "Already Seens" issue from now ow.

[2016-04-15 09:14] #1069 closed

[2016-04-15 09:20] camallen opened #1766 "use join table for tracking user seen subjects"
move away from array operations to a join table to get more data on the seen event timestamps.

[2016-04-15 09:33] mschwamb commented on #1640
Thanks @camallen. Also not sure if you saw, but the volunteer stopped at the already seen if you want to look at the state of his queue in case it helps.

[2016-04-15 13:13] camallen commented on #1748
@mkosmala see the fix in #1767 for a probably cause of the issues you are seeing.

The code was most likely signalling the workflow finished state based on incorrect counts against changing subject data counts (linking / unlinking data). Looking to get that fixed asap.